
.form-div12 {
    background: none;
    margin-top: 0;
}
.submit_button{
	margin:-12px 0 50px 0 !important;
}
.career_text{
    color:green !important;
}
.menu_banner{
    background-image: url('../../assets/img/menu_banner.jpg');
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 20px;
  }
  .menu__list .menu__link{
    text-transform: uppercase;
  }

@media (max-width:1024px){
    .banner12{
        background-position: top;
        height: 650px;
    }
    .port_heading{
        top: 22%;
    }
    .career_text {
        color: green ;
        font-weight: bold;
    }
    /* .career_text{
        background: -webkit-linear-gradient( #e56a39, #af3386);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    } */
    .careers_content h2:after{
        width: 384px;
        margin-left: -40%;
    }
}
@media (max-width:768px){
    .careers_content h2:after{
        width: 384px;
        margin-left: -54%;
    }
    .banner12{
        height: 450px;
    }
    .whit_text .font_size_12px{
        font-size: 10px;
    }
    .career_text {
        color: green  ;
        font-weight: bold;
    }
}
@media (max-width:767px){
    .port_heading {
        top: 50%;
    }
    .container{
        max-width: 100%;
    }
    .careers_content h2:after{
       margin-left: -51%;
   }
   .applt_job {
    margin-bottom: 0px;
}
.menu_banner{
    background: #000;
  } 
  .menu_bg{
      display: none;
  }
  ul.social-icon{
    margin-bottom: 6rem;
  }
}
@media (max-width:736px){
    .careers_content h2:after{
        margin-left: -53%;
    }
    .copy_right {
        margin-top: 20px;
    }
}
@media (max-width:667px){
    .careers_content h2:after{
        margin-left: -58%;
    }
    .copy_right {
        margin-top: 30px;
    }
}
@media (max-width:414px){
    .careers_content h2:after{
         width: 300px;
        margin-left: -75%;
    }
    .careers_content h2{
        font-size: 24px;
    }
    .banner12 {
        height: 260px;
    }
    .form-div button.submit-btn{
        display: unset;
    }
    .offers_vibrant p{
        font-size: 13px;
    }
    .port_heading {
        top: 50%;
    }
    .careers_content{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .applt_job {
        margin-bottom: 0px;
    }
    .copy_right {
        margin-top: 20px;
    }
}
@media (max-width:375px){
    .careers_content h2:after{
         width: 300px;
        margin-left: -82%;
    }
    .careers_content h2{
        font-size: 24px;
    }
    .banner12 {
        height: 220px;
    }
    .form-div button.submit-btn{
        display: unset;
    }
    .offers_vibrant p{
        font-size: 13px;
    }
    .port_heading {
        top: 50%;
    }
}


.menu_banner.menu_banner {
    background-size: cover !important;
}