<div class="container-fluid top-header top_header_menu">
  <div class="top_menu1 container relative">
    <div class="top_nav">

      <div class="row">
        <div class="col-md-4 col-2"> 
            <div class="burger burger1">
              <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid">

              <nav class="menu menu_banner">
                <div class="menu_though twinlogo text-center">
                  <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                </div>
                <ul class="menu__list">
                    <li class="menu__item"><a routerLink= '' class="menu__link">Home</a></li>
                    <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                    <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                    <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                    <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                    <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                  </ul>
                <div class="menu__brand">
                  <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                  <ul class="social-icon">
                    <li class="menu__item">
                    <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li class="menu__item">
                    <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                      <i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  </ul>
                </div>
              </nav>

            </div>

         </div>
        <div class="col-md-4 col-7 text-center mob_width_50"> <img src="assets/img/new_logo.png" class="img-responsive " alt="Thoughtwin"/> </div>
        <div class="col-md-4 col-3 talk-div"><a routerLink="../contact">  <span>lets talk</span> </a> </div>
      </div>
    </div>
  </div>
  </div>
<section class="container-fluid banner12">
<div class="banner_img"></div>
<div class="port_heading text-center">
  <h2> CAREERS </h2>
  <p class="career_text">If winning thought is your mission, there is no better place than ThoughtWin</p>

</div> 
</section>
<section class="container careers_content">
<h2 class="text-center">Build your career with us</h2>
<div class="row">
<!-- <div class="col-md-4 borderBox">
<img src="assets/img/careers1.jpg" width="100%" class="img-responsive" alt="">
</div> -->
<div class="col-md-12 offers_vibrant">
  <p> <strong>ThoughtWin IT solutions </strong>  offers a vibrant environment, where your talent, expertise and knowledge get a great chance to come to the fore. Compensation that is on par with the best in the industry, and performance-oriented incentives are but some of the benefits you get when you become a member of the ThoughtWin family.</p>
  <p> Continuous learning, knowledge sharing and empowerment are fueled by ThoughtWin's culture that is built to instill a feeling of belonging and camaraderie among the ThoughtWin's family members. </p> 
  <p> For an interested and suitable person who wants to express his idea and innovations, ThoughtWin IT Solutions is an absolute spot to became a marvelous professional in web technology world. </p>
</div>
</div>


</section>
<section class="container applt_job">
<h4> Current Openings</h4>
<div class="row">  
  <div class="col-md-6">
      <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a href="javascript:void(0),#collapseOne"class="card-link" data-toggle="collapse" >
                5 Developers
                <span class="plusbtn"><i class="fa fa-plus" aria-hidden="true"></i></span> 
                <span class="lessbtn"><i class="fa fa-minus" aria-hidden="true"></i></span>
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
               <p> <strong>Position : </strong> 2 Python Developer</p>
               <p> <strong>Position : </strong> 2 ROR Developer</p>
               <p> <strong>Position : </strong> 1  Web Designer </p>
              </div>
            </div>
          </div>
          <!-- <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="javascript:void(0),#collapseTwo">
                  2 Angular Developer

                <span class="plusbtn"><i class="fa fa-plus" aria-hidden="true"></i></span> 
                <span class="lessbtn"><i class="fa fa-minus" aria-hidden="true"></i></span>
            </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                  <p> <strong>Position : </strong>  Angular Developer</p>

                  <p><strong> skill required : </strong>Knowledge in Angular 4+</p>
                  <p> <strong> Experience : </strong>  1-2 Years</p>
                  <p><strong> Package : </strong>  As per industry standard</p>
                  <p> <strong> Location : </strong>  Indore, India</p>
              </div>
            </div>
          </div> -->
          <!-- <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="javascript:void(0),#collapseThree">
                  Web Developer
                <span class="plusbtn"><i class="fa fa-plus" aria-hidden="true"></i></span> 
                <span class="lessbtn"><i class="fa fa-minus" aria-hidden="true"></i></span>
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                  <p> <strong>Position : </strong>  Phthon Developer</p>

                  <p><strong> skill required : </strong>  Build tools (Setup-tools, pip),Python web frameworks(Django, Flask).</p>
                  <p> <strong> Experience : </strong>  1-2 Years</p>
                  <p><strong> Package : </strong>  As per industry standard</p>
                  <p> <strong> Location : </strong>  Indore, India</p>
              </div>
            </div>
          </div> -->
        </div>
  </div>
  <div class="col-md-6">

      <section class="form-div form-div12">
          <div class="container">
            <form>
              <div class="form-row">
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="First name">
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
              </div>
              <div class="form-row">
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                 <button type="submit" class="submit-btn submit_button"><a href="#">Submit</a></button>
              </div>
            </div>
          </form>
        
        
          </div>  
        </section>
    </div>
</div>
</section>

<section class="testimonial-section2 disp_cont_none">

<div id="testim" class="testim">

<!--         <div class="testim-cover"> -->
   <div class="wrap">

       <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
       <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
       <ul id="testim-dots" class="dots">
           <li class="dot active"></li><!--
           --><li class="dot"></li><!--
           --><li class="dot"></li><!--
           --><li class="dot"></li><!--
           --><li class="dot"></li>
       </ul>
       <div id="testim-content" class="cont">                    
           <div class="active">
               <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
               <div class="h4">Kellie</div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
           </div>

           <div>
               <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
               <div class="h4">Jessica</div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
           </div>

           <div>
               <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                <div class="h4">Kellie</div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
           </div>

           <div>
               <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
               <div class="h4">Jessica</div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
           </div>

           <div>
               <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
               <div class="h4">Kellie</div>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
           </div>

       </div>
        </div>
   </div>
<!--         </div> -->
</section>

<section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
            <p class="linear">CONTACT </p>
            <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top"> hr@thoughtwin.com </a> </p>
            <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
            <a href="tel:+91 9827718104">+91 9827718104 </a>
         </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>



<!-- <script src="css/script.js"></script> -->
