<section class="port_head">
  <div class="top_menu container relative">
    <div class="top_nav port_nav">
      <div class="row port_height_80px">
        <div class="col-md-4 por_bg_fff"> 
            <div class="burger port_burger">
              <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid">

              <nav class="menu menu_banner">
                <div class="menu_though twinlogo text-center">
                  <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                </div>
                <ul class="menu__list">
                    <li class="menu__item"><a routerLink= '' class="menu__link">Home</a></li>
                    <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                    <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                    <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                    <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                    <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                  </ul>
                <div class="menu__brand">
                  <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                  <ul class="social-icon">
                    <li class="menu__item">
                    <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li class="menu__item">
                    <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                      <i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  </ul>
                </div>
              </nav>

            </div>

         </div>
        <div class="col-md-4 text-center"> <a href="index.html"><img class="port_height about_logo1" src="assets/img/about_logo.png" width="100%" alt="Thoughtwin"> </a></div>
        <div class="col-md-4 talk-div late_talk"><a routerLink="../contact">  <span class="cube">lets talk</span> </a></div>
      </div>
    </div>
  </div>
</section>

  <section class="our_team">
    <div class="container">
        <div class="concact_div">
            <h4>We are a community of friendly, open-minded,<br>
            collaborative and professionally growing people.</h4>
            <a routerLink="../ourteam"><p>Meet our team<span><img src="assets/img/ourteam.png"></span></p></a>
        </div>
    </div>  
    <div class="container-fluid">  
        <div class="row bg-images11">
          <div class="container">
            <div class="row">
                 <div class="col-md-3 col-3 banner-div">
                      <img src="../assets/img/mayur.png"> 
                  </div>
                  <div class="col-md-3 col-3 banner-div">
                      <img src="assets/img/s_psd.png"> 
                  </div>
                  <div class="col-md-3 col-3 banner-div">
                      <img src="assets/img/p_psd.png"> 
                  </div>
                  <div class="col-md-3 col-3 banner-div">
                      <img src="assets/img/a_psd.png"> 
                  </div>
                </div>  
            </div>
        </div>
      </div>
  </section>


  <section class="about_logo">
    <div class="container">
        <div class="row about_logo1">
            <div class="col-md-6 col-6 icon-div1 about_border">
                <h1><img src="assets/img/about_icon1.png"></h1>
                <span class="number">01</span><h1>YEARS IN<br>BUSINESS</h1>
            </div>
            <div class="col-md-6 col-6 icon-div1">
                <h1><img src="assets/img/about_icon2.png"></h1>
                <span class="number">30+</span><h1>TEAM <br>MEMBERS</h1>
            </div>
        </div> 
        <div class="row about_logo2">
            <div class="col-md-3 col-6 icon-div2">
                <img src="assets/img/about_icon3.png">
                <h2>10+</h2>
                <p>Happy <br>clients</p>
            </div>
            <div class="col-md-3 col-6 icon-div2">
                <img src="assets/img/about_icon4.png">
                <h2>21+</h2>
                <p>Successful <br>projects</p>
            </div>
            <div class="col-md-3 col-6 icon-div2">
                <img src="assets/img/about_icon5.png">
                <h2>5K+</h2>
                <p>Accepted <br>User Stories</p>
            </div>
            <div class="col-md-3 col-6 icon-div2 icon-div11">
                <img src="assets/img/about_icon6.png">
                <h2>300K+</h2>
                <p>Delivered git <br>COMMITS</p>
            </div>    
        </div>  
    </div>  
  </section>

  <section class="india-canada">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 india_img">
            <img src="assets/img/india.png">
        </div>
        <div class="col-md-6 contact-div">
            <h1>India, Canada...</h1>
            <p>ThoughtWin is a renowned name in the website/mobile designing,<br>
          development in Software industry but – WHY? It’s because we make web design<br>
          and development that represents your business and spreads worldwide.<br>
          The support, trust and over and over recommendations by the client<br>
          is enough to describe the quality of work we offer.</p>
          <span><img src="assets/img/arrow.png"></span><p class="contact_arrow">We define goals, analysis the requirements and make the project schedule.</p>
          <span><img src="assets/img/arrow.png"></span><p class="contact_arrow">Depending on your objectives and goals, a sensible approach is taken whereby<br> solutions are developed to fit the needs of your organization.</p>
          <span><img src="assets/img/arrow.png"></span><p class="contact_arrow">The company believes in offering high aim web solutions at affordable prices.</p>
          <span><img src="assets/img/arrow.png"></span><p class="contact_arrow">The Achievement of Perfection is our goal, but Excellence is Guarantee.</p>
          <span><img src="assets/img/arrow.png"></span><p class="contact_arrow">We don't just sell websites, we create websites that SELL.</p>
          <span><img src="assets/img/arrow.png"></span><p class="contact_arrow">We love what we do and we do what our clients love & work with great
          clients all over the world to meet their purposes.</p>
          <p class="successfully-div">We have successfully delivered a variety of websites like E-commerce websites(B2B+B2C),
business directories, CMS websites, data-driven websites, blog websites, community website,
Mobile applications etc. We currently have an in-house team of full-time resources with senior
programmers, intermediate programmer, graphic designer, front end developer, a project
manager and a business analyst. We are a team of incredibly talented senior-junior level engineers.
What this means is that we will have continuous access to a wealth of resource and information. We support companies across the globe.</p>
        </div>
        <div class="col-md-3 canada_img">
            <img src="assets/img/canada.png">
        </div>  
      </div>  
    </div>  
  </section>

<section class="testimonial-section2 disp_cont_none">

   <div id="testim" class="testim">


        <div class="wrap">

            <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
            <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
            <ul id="testim-dots" class="dots">
                <li class="dot active"></li><!--
                --><li class="dot"></li><!--
                --><li class="dot"></li><!--
                --><li class="dot"></li><!--
                --><li class="dot"></li>
            </ul>
            <div id="testim-content" class="cont">                    
                <div class="active">
                    <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                    <div class="h4">Kellie</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                </div>

                <div>
                    <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                    <div class="h4">Jessica</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                </div>

                <div>
                    <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                     <div class="h4">Kellie</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                </div>

                <div>
                    <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                    <div class="h4">Jessica</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                </div>

                <div>
                    <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                    <div class="h4">Kellie</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                </div>

            </div>
             </div>
        </div>
</section>


<section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
                <p class="linear">CONTACT </p>
                <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top"> hr@thoughtwin.com </a> </p>
                <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
                <a href="tel:+91 9827718104">+91 9827718104 </a>
             </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>

<script src="css/script.js"></script>
<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip(); 
});
</script>