<section class="port_head">
  <div class="top_menu container relative">
    <div class="top_nav port_nav">
      <div class="row port_height_80px">
        <div class="col-md-4 por_bg_fff"> 
            <div class="burger port_burger" (click)="burger()">
              <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid">
                <div *ngIf="burgerState;then content"></div>    
                <ng-template #content>

                    <nav class="menu menu--active menu_banner">
                        <div class="menu_though twinlogo text-center">
                          <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                        </div>
                        <ul class="menu__list">
                            <li class="menu__item"><a routerLink= '' class="menu__link">Home</a></li>
                            <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                            <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                            <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                            <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                            <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                          </ul>
                        <div class="menu__brand">
                          <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                          <ul class="social-icon">
                            <li class="menu__item">
                            <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </li>
                          <li class="menu__item">
                            <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                              <i class="fa fa-facebook" aria-hidden="true"></i></a>
                          </li>
                          </ul>
                        </div>
                      </nav>
                   
                </ng-template>
                </div>

         </div>
        <div class="col-md-4 text-center"> <img class="port_height"  src="img/logo.png" width="100%" class="" alt="Thoughtwin"/> </div>
        <div class="col-md-4 talk-div late_talk"> <a routerLink="../contact">  <span>lets talk</span> </a> </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio_banner">
   <img src="img/banner_head.jpg" class="img-responsive" width="100%" alt="">
   <div class="port_heading text-center">
     <h2> Life@thoughtWin </h2>
   
   </div>
</section>

<section>
        <h1>
                <span>Tumblr Powered Gallery</span>
                with Magnific Pop-up and Masonry
              </h1>
              
              <div id="artHolder" class="clearfix">
              <!-- Gallery will go here -->
              </div>
</section>

<section class="testimonial-section2 disp_cont_none">

    <div id="testim" class="testim">

<!--         <div class="testim-cover"> -->
         <div class="wrap">

             <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
             <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
             <ul id="testim-dots" class="dots">
                 <li class="dot active"></li><!--
                 --><li class="dot"></li><!--
                 --><li class="dot"></li><!--
                 --><li class="dot"></li><!--
                 --><li class="dot"></li>
             </ul>
             <div id="testim-content" class="cont">                    
                 <div class="active">
                     <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                     <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                     <div class="h4">Jessica</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                      <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                     <div class="h4">Jessica</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                     <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

             </div>
              </div>
         </div>
<!--         </div> -->
 </section>




<section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
            <p class="linear">CONTACT </p>
            <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top">hr@thoughtwin.com </a> </p>
            <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
            <a href="tel:+91 9827718104">+91 9827718104 </a>
         </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>


<script src="css/script.js"></script>
<script>

    $(document).ready( function() {
  // If tumblr is down or something, show this message
  if (typeof tumblr_api_read === 'undefined') {
    var errMsg = '<h2>Whoops!</h2>';
    errMsg += '<p class="center">We seem to be having some technical difficulty with our gallery. <br/>';
    errMsg += ' Sorry for the inconvenience.  In the meantime, please visit our <a target="_blank" href="https://www.facebook.com/">Facebook</a>';
    errMsg += ' or our <a target="_blank" href="https://tumblr.com/">Tumblr</a> to see our latest works.</p>';
    errMsg += '<h4> If the problem persists, please let us know at <a href="mailto:webmaster@example.com">webmaster@example.com</a></h4>';
    $('#artHolder').html(errMsg);
  } else {  // Otherwise show the gallery
    for (var i=0;i<tumblr_api_read.posts.length;i++) {
      var thisPost = tumblr_api_read.posts[i];
      var caption = "";
      if(thisPost["photo-caption"]){
        caption = thisPost["photo-caption"];
        caption = caption.replace("'", "&lsquo;");
      }
      var entryHTML = "<a class='gallery' href='" + thisPost["photo-url-1280"] + "'";
      entryHTML += "title='" + caption + "'><img src='" + thisPost["photo-url-250"] + "'";
      entryHTML += "longdesc='" + thisPost["photo-url-1280"] + "'></a>";
      
      
      
      if (thisPost["type"]=="photo"){
        $('#artHolder').append(entryHTML);
      }
    }
    $('#artHolder').imagesLoaded( function() {
      $('#artHolder').magnificPopup({
        delegate: 'a', // child items selector, by clicking on it popup will open
        type: 'image',
        gallery:{enabled:true}
      });

      $("#artHolder").masonry();
    }); //END LOADED
  } //END ELSE STATMENT
  $("#artHolder").masonry();
}); //END ON DOC READY
</script>