.cube {
  width: 130px;
    height: 44px;
    border-left: 3px solid #ef6f3b;
    border-right: 3px solid #d742a0;
    border-top: 3px solid #ef6f3b;
    border-bottom: 3px solid #d742a0;
    border-radius: 6px;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background: linear-gradient(to right , #ef6f3b , #d742a0);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bold;
  	line-height: 26px;
    text-align: center;
    
}
.menu_banner{
  background-image: url('../../assets/img/menu_banner.jpg');
  background-repeat: no-repeat;
  background-position:top;
  padding-top: 20px;
}
.menu__list .menu__link{
  text-transform: uppercase;
}
.menu_banner{
  background-image: url('../../assets/img/menu_banner.jpg');
  background-repeat: no-repeat;
  background-position:top;

}
.menu__list .menu__link{
  text-transform: uppercase;
}
.menu_banner.menu_banner {
  background-size: cover !important;
}