<section class="port_head">
  <div class="top_menu container relative">
    <div class="top_nav port_nav">
      <div class="row port_height_80px">
        <div class="col-md-4 por_bg_fff"> 
            <div class="burger port_burger">
              <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid">

              <nav class="menu menu_banner">
                <div class="menu_though twinlogo text-center">
                  <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                </div>
                <ul class="menu__list">
                    <li class="menu__item"><a routerLink= '' class="menu__link">Home</a></li>
                    <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                    <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                    <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                    <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                    <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                  </ul>
                <div class="menu__brand">
                  <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                  <ul class="social-icon">
                    <li class="menu__item">
                    <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li class="menu__item">
                    <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                      <i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  </ul>
                </div>
              </nav>

            </div>

         </div>
        <div class="col-md-4 text-center"> <img class="port_height about_logo1" src="assets/img/about_logo.png" width="100%" alt="Thoughtwin"> </div>
        <div class="col-md-4 talk-div late_talk"><a routerLink="contact">  <span class="cube">lets talk</span> </a></div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial-section2 disp_cont_none">

 <div id="testim" class="testim">

      <div class="wrap">

          <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
          <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
          <ul id="testim-dots" class="dots">
              <li class="dot active"></li>
              <li class="dot"></li>
              <li class="dot"></li>
              <li class="dot"></li>
              <li class="dot"></li>
          </ul>
          <div id="testim-content" class="cont">                    
              <div class="active">
                  <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                  <div class="h4">Kellie</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
              </div>

              <div>
                  <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                  <div class="h4">Jessica</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
              </div>

              <div>
                  <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                   <div class="h4">Kellie</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
              </div>

              <div>
                  <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                  <div class="h4">Jessica</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
              </div>

              <div>
                  <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                  <div class="h4">Kellie</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
              </div>

          </div>
           </div>
      </div>
</section>
<section class="form-div">
  <div class="container-fluid">

  </div>  
</section>
<section class="contry-div">
  <div class="container"> 
    <div class="row">
      <div class="col-md-6 indian clock11">
              <ul id="clock"> 
                  <li id="sec"></li>
                  <li id="hour"></li>
                  <li id="min"></li>
              </ul>      
          <h2>india</h2>
          <img src="assets/img/india_time.png" class="taj">
          <p>hr@thoughtwin.com</p>
          <h5>+91 9827718104, +91 9300699777</h5>
          <p class="address">11 Sachidanand Nagar, Annapurna Road,<br>Indore(MP)-452001</p>
      </div>
      <div class="col-md-6 indian clock12">
          <ul id="clock1"> 
              <li id="sec1"></li>
              <li id="hour1"></li>
              <li id="min1"></li>
          </ul>
          <h2 class="canada12">canada</h2>
          <img src="assets/img/canada_time.png">
          <p>hr@thoughtwin.com</p>
          <!-- <h5>+91 9827718104, +91 9300699777</h5> -->
          <p class="address">3145  Goretti place Mississauga ON,<br>Canada</p>
      </div>  
    </div> 
  </div>  
  <!-- <div class="diamond">
  </div> -->
</section>
<section class="form-div">
  <div class="container">
    <h3>Drop us a line</h3>
    <p>Prepare for a quick response:)</p>
    <form>
      <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
      </div>
      <div class="form-row">
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Company">
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Email Address">
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-12">
        <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12">
         <button type="submit" class="submit-btn"><a href="#">Submit</a></button>
      </div>
    </div>
  </form>


  </div>  
</section>
  


<section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
            <p class="linear">CONTACT </p>
            <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top"> hr@thoughtwin.com </a> </p>
            <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
            <a href="tel:+91 9827718104">+91 9827718104 </a>
         </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>

<script src="css/script.js"></script>
<script>
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip(); 
});
</script>



<script type="text/javascript">

  $(document).ready(function() {
   
        setInterval( function() {
        var seconds = new Date().getSeconds();
        var sdegree = seconds * 6;
        var srotate = "rotate(" + sdegree + "deg)";
        
        $("#sec").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});
            
        }, 1000 );
        
   
        setInterval( function() {
        var hours = new Date().getHours();
        var mins = new Date().getMinutes();
        var hdegree = hours * 30 + (mins / 2);
        var hrotate = "rotate(" + hdegree + "deg)";
        
        $("#hour").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});
            
        }, 1000 );
  
  
        setInterval( function() {
        var mins = new Date().getMinutes();
        var mdegree = mins * 6;
        var mrotate = "rotate(" + mdegree + "deg)";
        
        $("#min").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});

            
        }, 1000 );
   
  }); 

  

</script>

<script type="text/javascript">
  $(document).ready(function() {
        setInterval( function() {
        // var oldDate = new Date();
        // var hour = oldDate.getHours();
        // var newDate = oldDate.setHours(hour - 9);
        var newDate = new Date().toLocaleString('en-US', { timeZone: 'Canada/Atlantic' });
        var seconds = new Date(newDate).getSeconds();
        var sdegree = seconds * 6;
        var srotate = "rotate(" + sdegree + "deg)";
        
        $("#sec1").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});
        }, 1000 );
   
        setInterval( function() {
        // var oldDate = new Date();
        // var hour = oldDate.getHours();
        // var newDate = oldDate.setHours(hour - 9);
        var newDate = new Date().toLocaleString('en-US', { timeZone: 'Canada/Atlantic' });
        var hours = new Date(newDate).getHours();
        var mins = new Date(newDate).getMinutes();
        var hdegree = hours * 30 + (mins / 2);
        var hrotate = "rotate(" + hdegree + "deg)";
        
        $("#hour1").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});
        }, 1000 );

        setInterval( function() {
        // var oldDate = new Date();
        // var hour = oldDate.getHours();
        // var newDate = oldDate.setHours(hour - 9);
        var newDate = new Date().toLocaleString('en-US', { timeZone: 'Canada/Atlantic' });
        var mins = new Date(newDate).getMinutes();
        var mdegree = mins * 6;
        var mrotate = "rotate(" + mdegree + "deg)";
        
        $("#min1").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});
        }, 1000 );
  }); 
</script>