.abc11 {
    border-top: 1px solid #b3b3b3;
}
.portfolio_logo_img img {
    width: 200px;
    margin-top: 26px;
}
.cube {
  width: 130px;
    height: 44px;
    border-left: 3px solid #ef6f3b;
    border-right: 3px solid #d742a0;
    border-top: 3px solid #ef6f3b;
    border-bottom: 3px solid #d742a0;
    border-radius: 6px;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background: linear-gradient(to right , #ef6f3b , #d742a0);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	font-weight: bold;
  	line-height: 26px;
    text-align: center;
    
}
.see_case img {
    width: 20%;
    margin-left: 6px;
}
.see_case a{
	background: linear-gradient(to right , #ef6f3b , #d742a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 20px;

}
.see_case a:hover{
	text-decoration: none;
	color: #222;
	font-size: 20px;
}
.portfolio_header p {
    color: #000000;
    font-weight: 600;
    line-height: 1;
    margin-top: 20px;
}
.portfolio_header h3 {
    margin-top: 40px;
}
.portfolio_images {
    padding: 0;
}
.footer_bottom {
    margin-top: 30px;
}

.menu_banner{
    background-image: url('../../assets/img/menu_banner.jpg');
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 20px;
  }
  .menu__list .menu__link{
    text-transform: uppercase;
  }
  .menu_banner.menu_banner {
    background-size: cover !important;
}







