<section class="port_head">
  <div class="top_menu container relative">
    <div class="top_nav port_nav">
      <div class="row port_height_80px">
        <div class="col-md-4 por_bg_fff"> 
            <div class="burger port_burger">
              <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid">

                <nav class="menu menu_banner">
                    <div class="menu_though twinlogo text-center">
                      <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                    </div>
                    <ul class="menu__list">
                        <li class="menu__item"><a routerLink= '' class="menu__link">Home</a></li>
                        <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                        <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                        <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                        <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                        <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                      </ul>
                    <div class="menu__brand">
                      <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                      <ul class="social-icon">
                        <li class="menu__item">
                        <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                      </li>
                      <li class="menu__item">
                        <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                          <i class="fa fa-facebook" aria-hidden="true"></i></a>
                      </li>
                      </ul>
                    </div>
                  </nav>

            </div>

         </div>
        <div class="col-md-4 text-center"><a href="index.html"> <img class="port_height portfolio_logo"  src="assets/img/portfolio_logo.png" width="100%"/> </a></div>
        <div class="col-md-4 talk-div late_talk"> <a routerLink="../contact">  <span class="cube">lets talk</span> </a> </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio_header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>We believe in clean & quality work</h3>
        <p>Take a look at the work we did for their marketing.</p>
       </div> 
    </div>  
  </div>  
</section>

<section class="portfolio_list">
  <div class="container-fluid portfolio_padding">
    
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>Perfect<span class="c_medium_grey">Wedding</span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="assets/img/portfolio1.jpg"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          
          <div class="hide_text">
            <h1>PerfectWedding - Your Personal Wedding Planner</h1>
            <p class="gray_text">PerfectWedding is a Wedding Planning Website and app where you can find the best wedding vendors, with prices and reviews at the click of a button. Whether you are looking to hire wedding planners or looking for the top photographers, or just some ideas and inspiration for your wedding. PerfectWedding can help you solve your wedding planning woes through its unique features.</p>
            <!-- <span class="see_case"><a href="#">Visit Site <img src="../assets/img/right_mark.png">
            </a></span>   -->
           </div> 
          <p>Python, Angular6</p>
          <h2>Perfect Wedding</h2>
      </div>  
    </div> 

    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>Transitiv<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="assets/img/portfolio2.jpg"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          
          <div class="hide_text">
            <h1>Transitiv - For marketers</h1>
            <p class="gray_text">Transitiv is an innovative platform for all marketer which connects all of your customer data to give the marketer a single customer view.</p>
            <!-- <span class="see_case"><a href="#">see case<i class="fa fa-angle-right" aria-hidden="true"></i></a></span>   -->
           </div> 
          <p>ROR, Angular6</p>
          <h2>Transitiv</h2>
      </div>  
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>Design<span class="c_medium_grey">Studio</span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="assets/img/portfolio3.jpg"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          
          <div class="hide_text">
            <h1>DesignStudio - Design Showcase</h1>
            <p class="gray_text">It is a website where the design can showcase thier work and also able to convert lots of customer in a single click.</p>
            <!-- <span class="see_case"><a href="#">see case<i class="fa fa-angle-right" aria-hidden="true"></i></a></span>   -->
           </div> 
          <p>Python, ReactJS</p>
          <h2>Design Studio</h2>
      </div>  
    </div>    
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>18000<span class="c_medium_grey">miles</span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="assets/img/portfolio4.jpg"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          
          <div class="hide_text">
            <h1>18000miles - an amazing way to connect people</h1>
            <p class="gray_text">18000miles is an amazing social platform as well as Local & travel website where backpackers can share their memorable journeys.</p>
            <!-- <span class="see_case"><a href="#">see case<i class="fa fa-angle-right" aria-hidden="true"></i></a></span>   -->
           </div> 
          <p>ReactJs, ROR</p>
          <h2>18000miles</h2>
      </div>  
    </div> 
    <div class="row abc11">
      <div class="col-md-1 portfolio_heading">
            <p>Selfpres<span class="c_medium_grey"></span></p>
      </div>
      <div class="col-md-7 portfolio_images">
            <img src="assets/img/portfolio5.jpg"> 
      </div>
      <div class="col-md-4 portfolio_contact">
          
          <div class="hide_text">
            <h1>Selfpres - we brings people together</h1>
            <p class="gray_text">Selfpres brings people together in thousands of cities to do more of what they want to do in life. It is organized around one simple idea: when we get together and do the things that matter to us, we’re at our best. And that’s what Selfpres does. It brings people together to do, explore, teach and learn the things that help them come alive.</p>
            <!-- <span class="see_case"><a href="#">see case<i class="fa fa-angle-right" aria-hidden="true"></i></a></span>   -->
           </div> 
          <p>Python, Angular6</p>
          <h2>Selfpres</h2>
      </div>  
    </div>  

    
  </div>  
</section>

<section class="testimonial-section2 disp_cont_none">

    <div id="testim" class="testim">

<!--         <div class="testim-cover"> -->
         <div class="wrap">

             <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
             <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
             <ul id="testim-dots" class="dots">
                 <li class="dot active"></li><!--
                 --><li class="dot"></li><!--
                 --><li class="dot"></li><!--
                 --><li class="dot"></li><!--
                 --><li class="dot"></li>
             </ul>
             <div id="testim-content" class="cont">                    
                 <div class="active">
                     <div class="img"><img src="https://image.ibb.co/hgy1M7/5a6f718346a28820008b4611_750_562.jpg" alt=""></div>
                     <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/cNP817/pexels_photo_220453.jpg" alt=""></div>
                     <div class="h4">Jessica</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/iN3qES/pexels_photo_324658.jpg" alt=""></div>
                      <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/kL6AES/Top_SA_Nicky_Oppenheimer.jpg" alt=""></div>
                     <div class="h4">Jessica</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

                 <div>
                     <div class="img"><img src="https://image.ibb.co/gUPag7/image.jpg" alt=""></div>
                     <div class="h4">Kellie</div>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                 </div>

             </div>
              </div>
         </div>
<!--         </div> -->
 </section>

<section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
           <p class="linear">CONTACT </p>
           <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top"> hr@thoughtwin.com </a> </p>
           <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
           <a href="tel:+91 9827718104">+91 9827718104 </a>
        </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>



<!-- <script src="css/script.js"></script> -->
