@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body{font-family: 'Open Sans', sans-serif;}
.overhidden{
    overflow: hidden;
}
header{background:#000000; height:100vh; position: relative; overflow: hidden;}
.banner{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}
.top_menu{background-color: #000;}
.banner_img{background-repeat: no-repeat; background-size: cover;}
.banner_img img{height: 100vh; object-fit: cover;object-position: right;}
.good_idea {
    position: absolute;
    color: #ffffff;
    top: 100px;
    left: 15px;
    bottom: 0;
}
.device_img{ margin-top: 50px;}
.device_img img{ max-width:500px;}
.top_nav{position:relative; width:100%; z-index:9999;}
.relative{position:relative;}
.blue_bg{background: url(assets/img/top_shadow.png) no-repeat;}
.banner_img img{width:100%;}
.font-34 {
    font-size:2.5rem;
    color: #ffffff;
    font-weight: 800;
}
.font_small{font-size:1.3rem;  position: relative;}

.font_small::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 35px;
    height: 2px;
    width: 60px;
    background:#fff;
}

.font-34 span {
    color: #fff;
}
.site_btn{background: rgba(239,110,59,1);
background: linear-gradient(to right, rgba(239,110,59,1) 0%, rgba(213,63,168,1) 100%);
padding:10px 30px; color:#ffffff;
border-radius:3px;

}
.site_btn:hover{
    background: linear-gradient(to right, rgba(213,63,168,1) 0%, rgba(239,110,59,1) 100%);
    color:#ffffff; text-decoration:none;
    
}
.mb_30{margin-bottom:50px;}
section{position:relative;}
h1{font-size:34px; text-align:center; padding-top:50px; margin-bottom:30px; font-weight:400}
.mb_40 {
    margin-bottom: 40px;
    color: #424242;
    font-size: 19px;
   
}
.mb_40 span{color: #fff;font-size: 19px;}

/* .pb_40{padding-bottom:40px;} */
.pb_40 p{
    color: #000;
}
.black_bg{
    background:#000000;
    color:#ffffff;
    position: relative;
}
.squar_dot .first {
    position: absolute;
    top: 30%;
    width: 9%;
    left: 3%;
}
.squar_dot .second{
    position: absolute;
    top: 30%;
    width: 9%;
    right: 3%;
}
.squar_dot .third{
    position: absolute;  
    bottom: 0;
    left: 60px;
}
.squar_dot .forth{
    position: absolute;
    right: 0;
    bottom: 0;  
}
.font_white{color:#ffffff;}
.pad_tb_35{padding-top:50px !important;overflow: hidden;}

.banner_img{text-align:right;}

.icon-div{
    padding-bottom: 40px;
}
.icon-div h3 {
    text-align: center;
    margin-top: 0px;
    font-weight: 800;
    color: #222;
    font-size: 40px;
}
.icon-div  p {
    text-align: center;
    color: #2d2b2b;
    font-weight: 600;
   
}
.icon-img{
    margin-bottom: 40px;
}
.icon-img ul {
    list-style: none;text-align: center;
}
.icon-img ul li{
    display: table-cell ;
    padding: 0px 43px;
    margin-top: 20px;}
.clients-div h3 {
    text-align: center;
    font-weight: 600;
    color: #222;
    font-size: 40px;
}
.clients-div p {
    text-align: center;
    color: #2d2b2b;
    font-weight: 600;
}
ul.social-icon .fa {
    border: 2px solid #fff;
    padding: 7px 10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color: #fff !important;
    font-size: 20px;
}
.images11{padding: 0 0px}
.clients-img {
    border: 1px solid #ccc;
    text-align: center;
    padding: 40px 0px;
}
.border_left{
    border-right: none;
}
.border_top_none{
    border-top: none;
}



.clients-div i{text-align: center;
    display: block;
    padding: 50px 10px;
}

.pad_80{
    padding:80px;
}
.ul_li_display img{
    width: 48% !important;
}
.ul_li_display div{
    float: left;
}
.client_section{
    margin-top: 75px;
}
.trust_headin{
    color: #000;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.trust_headin::before{
    content: "";
    background: linear-gradient(to right,rgba(239,110,59,1) 0%, rgba(213,63,168,1)  100%);
    left: 0;
    right: 0;
    display: inline-block;
    top: -30px;
    width: 200px;
    height: 2px;
    bottom: -15px;
    left: 42%;}

.deart_heading{
    position: relative;
}
.posi_absolute{
    position: absolute;
    top: 22%;
    left: 23%;
}
.posi_absolute h2{
    font-weight: bold;
    font-size: 40px;
}
.dropUs .form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1e1e1e;
}
.form-control:focus {
     box-shadow: none !important; 
}
.btn_submit{
    margin-top: 20px;
    background-image: linear-gradient(to right, rgba(239,110,59,1) 0%, rgba(213,63,168,1) 100%);
    padding: 10px 60px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
}
.btn_submit:hover{
    background-image: linear-gradient(to right,  rgba(213,63,168,1) 0%,  rgba(239,110,59,1) 100%);
}
.footer_bottom{
    background: #0c0c0c;
    padding: 50px 0px 20px 0px;
    position: relative;
	    color: #6b6b6b;
}
.linear{
    background: -webkit-linear-gradient( #e56a39, #af3386);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.footer_bottom a{
    color: inherit ;
    text-decoration: none;
}
.footer_bottom a:hover{
    text-decoration: none !important;
  color: #af3386;
}
.footer_bottom a :hover .foot_logo a .face_margin{
    background: inherit !important;
}
.foot_logo{
    margin-top: -8px;
}
.whit_text{
    color: #fff;
}
.copy_right{
    margin-top: 50px;
}
.templ img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
}

#navbarCollapse .icon-bar{
  display: block;
  width: 20px;
}







.icon-div img{width: 70px;}
.row.align11 {
    text-align: center;
    margin-top: 50px;
}

.blue_bg .fa{
  font-size: 30px;
    color: #fff;
    padding: 0 80px;
    line-height: 3;
  }
  .talk-div span {
   text-align: right;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 18px;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    border-radius: 3px;
}
.talk-div {
    text-align: right;
    margin-top: 28px;
}
.bold{font-weight:800;}
.ds img{margin-bottom:20px;}
.product_img:hover{opacity:0.8;}






/*--toggle css--*/
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Open Sans';
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  position: relative;
}
.moon_bg{
    position: absolute;
    bottom:32%;
    width: 25%;
}
.menu_icon{
    position: absolute;
    top: 0;
    width: 20%;
    left: 30px;
}

.burger {
  position: absolute;
  z-index: 10;
  top: 36px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28px;
  height: 1px;
  margin: 0 0 4px 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          position:fixed;
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
  z-index: 9;
}

.menu__brand, .menu__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  -webkit-transform: translate(-50%,-50%);
}
a.menu__link:hover {
    text-decoration: none;

}
a.menu__link:hover {
     
    /* -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite; */
    background: -webkit-linear-gradient( #e56a39, #af3386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

ul.social-icon{list-style: none;padding: 0;}
ul.social-icon li{display:inline-block;}
/* ul.social-icon .fa:hover{
    color: #fff !important;
    border-color: #fff !important;
} */
.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {

  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 29px;
  padding: 10px 0;
  font-weight: 800;
  color: white;
  text-decoration: none;
  color: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu__link:after{
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background:#222;
  left: 0;
  right: 0;
}
.menu__link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.menu__item a:after{
  content: "";
    position: absolute;
    background: #00a2c5;
    left: 0px;
    right: 0;
    height: 2px;
    bottom: -12px;
    margin: 0px auto;
    transition: all ease 1s;
    display: none;
}
a.menu__link:hover .menu__item:after{
    display: block;
}
.menu__link {
    position: relative;
    text-align: center;
}
a.menu__link:after{
  content: "";
    position: absolute;
    background: #00a2c5;
    left: 0px;
    right: 0;
    width: 0px;
    height: 2px;
    bottom: -12px;
    margin: 0px auto;
    transition: all ease 1s;
}
a.menu__link:hover .menu__link:after{
     width: 100%;
}

/*.menu__link:hover .menu__link:after{
  display: block;
  width: 100px;
}*/
.menu .menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  transition-delay: 0.6s;
}
.font_size_12px{
    font-size: 12px;
}

.whit_text .fa-heart{
    background: -webkit-linear-gradient( #e56a39, #af3386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.pot_text h2{
    margin-bottom: 20px;
    position: relative;
}
.pot_text h2:after{
    position: absolute;
    background: rgba(213,63,168,1);
    width: 200px;
    height: 2px;
    content: "";
    bottom: -6px;
    margin-left: -17%;
}
.marg_top_50px h2:after{
    position: absolute;
    background: rgba(213,63,168,1);
    width: 165px;
    height: 2px;
    content: "";
    bottom: -8px;
    margin-left: -14%;
}
.marg_50px h2:after{
    position: absolute;
    background: rgba(213,63,168,1);
    width: 210px;
    height: 2px;
    content: "";
    bottom: -8px;
    margin-left: -18%;
}
.Owner_cof{
    margin-bottom: 50px;
}
.Owner_cof h2{
    color: #000;
    position: relative;
}
.Owner_cof h2:after{
    position: absolute;
    background: rgba(213,63,168,1);
    width: 210px;
    height: 2px;
    content: "";
    bottom: -8px;
    margin-left: -18%;
}
.marg_top_50px ,.marg_50px{
    margin-top: 50px;
}
.members{
    margin-top: 50px;
    color: #000;
}
.about_box{
   text-align: center
}
.about_box img{
    width: 130px;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
}


/* Life@thoughtwin css*/





/*End Life@thoughtwin css*/

.logo {
    width: 200px;
    height: 200px;
    background: #1a1a1a;
    border-radius: 50%;
  }
  
  h1, h2, h3, p {
    margin: 0;
    font-weight: 400;
  }
  
  main {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 8vw;
  }
  main h1 > a {
    color: white;
    text-decoration: none;
    font-size: 48px;
    font-weight: 300;
  }
  
  .support {
    position: fixed;
    bottom: 24px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .burger--close .burger__patty{
      background-color: #ccc !important;
  }
  /*--end toggle css--*/
  
  .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
  
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }
  
  
  .node_js{width: 125px; height: 75px;transition-delay: .2s;
    background: url('assets/img/nodejs.png') -10px -10px; display: inline-block;}
  .node_js:hover{background: url('assets/img/nodejs.png') -155px -10px;}
  
  .ruby{width: 137px; height: 47px;
    background: url('assets/img/rails.png') -10px -10px; display: inline-block;}
  .ruby:hover{width: 137px; height: 47px;
    background: url('assets/img/rails.png') -10px -77px;transition-delay: .2s;}
  
  
  .python{width: 188px; height: 44px;transition-delay: .2s;
    background: url('assets/img/phthon.png') -10px -10px; display: inline-block;}
  .python:hover{ width: 188px; height: 44px;
    background: url('assets/img/phthon.png') -10px -74px;}
  
  .react{width: 185px; height: 56px;transition-delay: .2s;
    background: url('assets/img/react.png') -10px -10px; display: inline-block;}
  .react:hover{ background: url('assets/img/react.png') -10px -86px;}
  
  .angulr_js{width: 174px; height: 43px;transition-delay: .2s;
    background: url('assets/img/angular.png') -10px -10px; display: inline-block;}
  .angulr_js:hover{background: url('assets/img/angular.png') -10px -73px;}
  
  .php_icon{width: 114px; height: 55px;
    background: url('assets/img/php.png') -10px -10px; display: inline-block;}
  .php_icon:hover{background: url('assets/img/php.png') -144px -10px;}

.android_icon{
    width: 83px; height: 75px;transition-delay: .2s;
    background: url('assets/img/androidapp.png') -10px -10px;display: inline-block;
}
.android_icon:hover{
    background: url('assets/img/androidapp.png') -113px -10px;

}
.ios_icon{
    width: 104px; height: 51px;transition-delay: .2s;
    background: url('assets/img/apple.png') -10px -10px;display: inline-block;
}
.ios_icon:hover{
    background: url('assets/img/apple.png') -134px -10px;
}

/* 
  .tansitiv1{width: 216px; height: 36px;
    background: url('assets/img/transitiv.png') -10px -10px;display: inline-block;
  }
.tansitiv1:hover{
    width: 216px; height: 36px;
    background: url('assets/img/transitiv.png') -10px -66px; display: inline-block;;
} */
.perfect_icon{
    width: 259px; height: 45px;
    background: url('assets/img/perfectwed.png') -10px -10px;
    display: inline-block;
}
.perfect_icon:hover{
    width: 259px; height: 45px;
    background: url('assets/img/perfectwed.png') -10px -75px;
}
.west_cost{
    width: 257px; height: 52px;
    background: url('assets/img/westcost.png') -10px -10px;display: inline-block;
}
.west_cost:hover{
    background: url('assets/img/westcost.png') -10px -82px;
}
.self_pres{
    width: 178px; height: 54px;
    background: url('assets/img/sefppres.png') -10px -10px;display: inline-block;
}
.self_pres:hover{
    background: url('assets/img/sefppres.png') -10px -84px;
}
.timchand{width: 213px; height: 38px;
    background: url('assets/img/timchand.png') -10px -10px;display: inline-block;
}
.timchand:hover{
    background: url('assets/img/timchand.png') -10px -68px;
}
.milsicon{
    width: 229px; height: 40px;
    background: url('assets/img/1800mils.png') -10px -10px;display: inline-block;

}
.milsicon:hover{
    background: url('assets/img/1800mils.png') -10px -70px;

}
.great_code{
  margin: 0;
}




  .social-icon li{
     margin-right: 10px !important;
  } 
  
  /* portfolio page css  */
  
  .portfolio_banner{
       background: linear-gradient(50deg, #ee6d3f, #db4a8f); 
      position: relative;
      /* background: url("assets/img/banner_head.jpg"); 
      background-position: center ;
      background-size: cover;
      background-repeat: no-repeat; */
  }
  .port_heading{
      position: absolute;
      top: 16%;
      left: 0;
      right: 0;
      color: #fff;
  }
  .portfolio_content{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .border_content{
      border: 1px solid #ccc;
      padding: 20px 0px;
      cursor: pointer;
  }
  
  .pot_text{
      color: #000;
  }
  .port_nav{
     height: 80px;
     background-color: #fff;
  }
  .port_height{
      width: 50%;
      margin-top: 24px;
  }
  .port_burger .burger__patty{
      background-color: #000;
  }
  .late_talk{
      margin-top: 25px;
  }
   .late_talk span{
      color: #000;
      cursor: pointer;
  }
  .port_height_80px{
      height: 80px;
      background-color: #fff;
  }
  .pot_text button{
      padding: 10px 50px;
  }
  .border_content:hover{
      box-shadow: 0px 0 20px #ccc;
  }
  .mar_to_bot_20px{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .disp_cont_none{
      display: none;
  }
  .border_content .bg_black{
      background: #000000;
  }
  .border_content button{
      background-image: linear-gradient(to right,  rgba(213,63,168,1) 0%,  rgba(239,110,59,1) 100%) !important;
      border: none;
  }
  .border_content button:hover{
      background-image: linear-gradient(to right, rgba(239,110,59,1)  0%,  rgba(213,63,168,1) 100%) !important;
  }
  /* portfolio page css  */
  .contact_section{
      color: #000;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .contact_section .col-md-6{
      border-bottom: 1px solid #ccc;
      padding: 20px 0px;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
  }
  .contact_section .border_left{
      border-right: 1px solid #ccc;
      text-align: center;
  }
  .location_map{
      margin-bottom: 50px;
      padding: 0;
  }
  .flag{
      position: absolute;
      top: 20px;
      left: 20px;
  }
  .flag img{
      width: 10%;
      float: left;
  }
  .marge_top_bot_20px{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .portfolio_content ul{
      margin-top: 15px;
      padding: 0px;
  }
  .portfolio_content ul li{
     list-style-type: none;
  }
  .foot_logo a .face_margin{
      margin-right: 4px;
  }
  
  .careers_content{
      color: #000;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .careers_content h2{
      position: relative;

  }
  .careers_content h2:after{
      position: absolute;
      background: rgba(213,63,168,1);
      width: 400px;
      height: 2px;
      content: "";
      bottom: -6px;
      margin-left: -34%;
  }
  .careers_content .row{
      margin-top: 30px;
  }
  .applt_job{
      color: #000;
      margin-bottom: 50px;
  }
  .applt_job .card{
      margin-bottom: 10px;
  }
  .applt_job h4{
      margin-bottom: 20px;
  }
  .applt_job .card-body p{
      margin-bottom: 20px;
  }
  
  
  
  .h3_black {
      text-align: center;
      margin-top: 0px;
      font-weight: 800;
      color: #222;
      font-size: 40px;
  }
  
  .pad_tb_35_100{
      padding: 70px 0px;
  }
  .mb_75{margin-bottom:75px;}
  .font-40{font-size:40px;font-weight: 800;}
  .mt_10{margin-top:10px;}

.bor_top_none{
    border-top: none;
}
.bor_lef_righ{
    border-left: none;
    border-right: none;
}
.mob_mar_20px{
    padding-bottom: 50px;
}
.margi_top_30{
    font-size: 30px;
    margin-top: 30px;
    background: -webkit-linear-gradient( #e56a39, #af3386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
#clock, #clock1 {
    margin: 40px auto 40px auto !important;
}
.form-div {
    margin-top: 50px;
}
.mob_display{
    display: none;
}
.mob_width_50 img{
    margin-top: 30px;
}

.effect {
    padding: 0px !important;
    }
    .per_logo{
        position: absolute;
        top:35%;
        left: 0px;
        right: 0px;
        text-align: center;
    }
    .effect .bgdiv{
        position: relative;
        height: 350px;
        width: 100%;
        transition: all 2s;
        overflow: hidden;
        cursor: pointer;
    }
    .effect .bg_color_pink{
        background:#ea1c6a;
    }
    .bg_color_blue{
        background:#5b19aa;
    }
    .bg_color_green{
        background:#5abe2b;
    }
    .bg_blue_light{
        background:#41a3f3;
    }
    .bg_black{
        background:#000;
    }
    .bg_orange{
        background:#ff7701;
    }
    .effect .bgdiv img{
    opacity: 0;
    transform: scale(1);    
    transition:opacity .35s,transform .35s;
    }
    .effect:hover .bgdiv img{
        opacity: .3;
        transform: scale(1.1);
        transition: opacity .6125s cubic-bezier(.39,.575,.565,1),transform 4s cubic-bezier(.39,.575,.565,1);
     }

 .form-div input.form-control:focus {
    border-color: #c1417d;
}    



/*------17-9-18-------*/ 
.life-banner1 {
    background: url(assets/img/life-banner.jpg);
    background-size: cover;
    width: 100%;
    height: 547px;
    background-repeat: no-repeat;
}
.our-team{
  text-align: center;
}
.our-team h1 {
    color:#343639;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 40px 0;
    font-family: sans-serif;
    position: relative;
}
.grid-list11 {
    font-size: 0;
}
.image-div img {
    width: 100%;
}
.image-div{
  padding: 0;
}
.mask {
    background: #272d37bf;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    display: none;
}
.image-div:hover .mask{
  display: block;

} 
.image-div:hover .overlay {
  opacity: 1;
}
.image-div .text{
  color: white;
  font-size: 25px;
  position: absolute;
  top: 44%;
  text-align: center;
  width: 100%;
}
.image-div .description {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}
.image-div .overlay .text:after{
    content: "";
    position: absolute;
    background: #00a2c5;
    left: 0px;
    right: 0;
    width: 0px;
    height: 2px;
    bottom: -12px;
    margin: 0px auto;
    transition: all ease 1s;
}

.image-div:hover .overlay .text:after {
     width: 100px;
}

.image-div .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
.footer-div{
  text-align: center;
}
.footer-div h2 {
    color: #222;
    margin: 10px;
    font-size: 40px;
    font-weight: 700;
}
.footer-div a:hover{
  text-decoration: none;
}
.footer-div p {
    color: #222;
  }
p.career-btn {
    color: #da4892;
    margin: 50px;
    font-size: 22px;
}
.more-btn .fa {
    border: 1px solid #da4892;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 0px 8px;
    color: #da4892;
}
.social11:hover{
  background: #fbfbfb;
}
.social11 {
    padding: 50px 0 0 0;
    border-right: 1px solid #ccc;
}
/*--------*/

.more-btn .fa:hover {
    background:#da4892;
    color: #fff;
    border: none;
}
.text-center p {
    color: #222;
    font-size: 16px;
}
p.mt_10 {
    margin: -12px 0 0px 0;
    font-size: 14px;
}
/*-----life-page-------*/
.top-header {
    background: #07070799 !important;
    z-index: 99;
}
.black_bg:hover{
  cursor: pointer;
}
.banner1 {
    padding: 0;
   position: relative;
}
.top_header_menu {
    padding: 0 0 20px 0;
    position: absolute;
}
.burger1{
  top: 42px;
  
}
/*.burger12{
  left: 50%;
}*/
.menu_thoughtwinlogo{
  background:#000000;
  padding: 30px 0 0 0 !important;
  text-align: center;
}

.banner-heading h1 {
    line-height: 1.1;
    font-size: 58px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 20px;
}
.banner-heading{
  text-align: center;
  padding: 70px 0;
  position: absolute;
  /*top: -40px;*/
  bottom: 50px;
  left: 0;
  right: 0;
}
.banner-heading p{
    color: #fff;
    font-size: 20px;
    padding: 0 0 20px 0;
}
.banner1 {
    background: url('/assets/img/123456.jpeg');
    background-size: 100%;
   background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
    background-attachment: fixed;
}
.banner12 {
    background: url('/assets/img/career_bg.jpg');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 700px;
    background-attachment: fixed;
}
.banner-btn {
    color: #fff;
    background: linear-gradient(to right, rgba(239,110,59,1) 0%, rgba(213,63,168,1) 100%);
    padding: 10px 30px;
    border-radius: 4px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}
a.banner-btn:hover{
  background: linear-gradient(to right, rgba(213,63,168,1) 0%, rgba(239,110,59,1) 100%);
  color: #fff;
  text-decoration: none;
}
.banner-heading p {
    margin: -9px  !important;
    line-height: 1.5 !important;
}
/*2-10-18*/
.about-header{
  background:#f6f6f6;
}
.our_team{
  background:#f6f6f6;
  position: relative;
}
.concact_div {
    text-align: center;
}
.concact_div h4 {
    color: #4d4d4d;
    font-size: 20px;
    margin: 0 0 40px 0;
    padding: 80px 0 0 0;
    font-size: 19px;
}
.concact_div p {
    color: #e86258;
    margin-bottom: 20px;
}
.concact_div p span {
    margin: 0 13px;
}
.concact_div p span img {
    width: 21px;
}
.bg-images11 {
    background: url('assets/img/banner1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.banner-div img{
  width: 100%;
}
.about_logo{
  text-align: center;
}
.icon-div1{
  color: #222;
  margin: 50px 0;
  position: relative;
}
.icon-div1:after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: "";
    left: 0;
    right: 0;
    background: #f1f1f1;
    bottom: -50px;
}
.icon-div1 img {
    margin: -18px 0 10px 0;
}
.icon-div1 h1 {
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    font-weight: 600;
    font-size: 19px;
}
span.number {
    font-size: 60px;
    font-weight: 700;
}
.icon-div1 h1 img {
    width: 80px;
}
.about_border{
  border-right: 1px solid #f1f1f1;
}
.about_logo2{
  margin:50px 0;
}
.about_logo2 h2, p{
  color: #b0aaaa;
    font-size: 15px;
  margin-bottom: 16px;
  font-size: 16px;

}
p.major_text {
    font-size: 19px;
    font-weight: normal;
    margin: 0;
    color: #424242;
}
.trust_headin h3 {
    font-size: 40px;
    font-weight: 800;
}
.trust_headin p{
   font-size: 19px;
    font-weight: normal;
    margin: 0;
    color: #424242;
}
.icon-div2 h2 {
    margin: 22px 0 0 0;
    color: #4d4d4d;
}
.icon-div2 p {
    color: #4d4d4d;
    font-size: 19px;
}
.icon-div2 {
    border-right: 1px solid #f1f1f1;
}
.icon-div11{
  border:none;
}
.india-canada{
  text-align: center;
}
.india_img img {
    width:100%;
}
.canada_img img {
    width: 100%;
}
.contact-div h1 {
    color: #222;
    text-align: left;
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 40px;
}
.contact-div {
    text-align: left;
}
.successfully-div {
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 50px;
    color: #b0aaaa;
}
.contact-div p.contact_arrow {
    color: #222;
    font-size: 13px;
    margin: 14px 0;
    display: table;
    font-size: 16px;
}
.contact-div span img {
    width: 20px;
    margin: -8px 10px 0 0;
}
.contact-div span{
  display: block;
  float: left;
}

@media only screen and (max-width: 767px) {
  .banner1 {
    height: 446px;
}    
  .canada_img img {
    width: 70%;
}
.india_img img {
    width: 70%;
}
 .clock12 {
    margin-top: 40px;
}
  .icon-div2 {
     border: none;
}
}
.thoughtwin_con p {
    margin-top: 11px;
    margin-bottom: 10px;
}
.thoughtwin_social p {
    margin-top: 11px;
    margin-bottom: 10px;
}
.contry-div{
  text-align: center;
  position: relative;
}
.indian {
    padding: 60px 0 70px 0;
}
.indian h2 {
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 30px 0;
    font-size: 40px;
}
.indian p {
    margin: 10px 0 0 0;
    color: #222;
    font-size: 16px;
    font-weight: 600;
}
.indian h5 {
    font-size: 16px;
    color: #222;
    font-weight: 600;
}
p.address {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #b1b1b1;
}
/*.diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #fff;
  position: relative;
  top: -100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #fff;
}
*/

/*--8-10-18--*/
.clock__wrap{
  display: block;
  width: 100%;
  float: left;
}
.jcgmt-container{
  padding: 3px;
}.jcgmt-clockHolder{
  width: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.jcgmt-digital{
  display: none;
}
.jcgmt-date{
  display: none;
}
.jcgmt-rotatingWrapper{
  position: absolute;
  width: 300px;
  height: 300px;
}
.jcgmt-hour, .jcgmt-min, .jcgmt-sec{
  display: block;
  position: absolute;
}
.taj {
    margin-top: 40px;
}
section.clock {
    margin-top: 60px;
}
.form-div{
  text-align: center;
  background: #f5f5f5;
}
.form-div input.form-control {
    border: none;
    border-bottom: 2px solid #ccc;
    background: none;
    margin: 20px 0;
    border-radius: inherit;
}
.form-div textarea.form-control {
    background: none;
    border: 2px solid #ccc;
    margin: 50px 0;
}
.form-div button.submit-btn {
    background-image: linear-gradient(to right, rgba(213,63,168,1) 0%, rgba(239,110,59,1) 100%) !important;
    border: none;
    padding: 14px 60px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    display: block;
    color: #fff;
    margin: 0 0 50px 0;
}
.form-div button.submit-btn  a{
  color: #fff;
}
.form-div button.submit-btn  a:hover{
  text-decoration: none;
}
.form-div button.submit-btn:hover{
  background-image: linear-gradient(to right, rgba(239,110,59,1) 0%, rgba(213,63,168,1) 100%) !important;
}
.form-div h3 {
    color: #000000;
    font-weight: 600;
    font-size: 40px;
    padding: 60px 0 0 0;
}
.form-div p {
    font-size: 19px;
    color: #000000;
    margin: 4px 0 14px 0;
}

/*-----portfolio-------*/
.about_logo1 {
    margin-top: 26px;
}











.portfolio_list img {
    width: 100%;
}
.portfolio_contact h1 {
    color: #222;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    margin: 30px 0 0 0;
    padding: 0;
    margin-bottom: 19px;
    transform-origin: 0 75%;
    transition: all .4s cubic-bezier(.47,0,.745,.715);
}
.portfolio_contact h2 {
    color: #000000;
    font-weight: 600;
    font-size: 34px;
    filter: blur(0);
    transform: translateZ(0);
    transition: color .5s cubic-bezier(.215,.61,.355,1);
}
.portfolio_contact p.gray_text {
    color: #222;
    margin: 30px 0 0 0;
    font-size: 13px;
    font-weight: 600;
}
.effect {
    padding: 0 !important;
}
.portfolio_contact p {
    color: #757575;
    margin: 60px 0 0 0;
}
a:hover {
    text-decoration: none;
}
.abc11 {
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #b3b3b3;
    padding: 0;
}
.image-div {
    padding: 0 !important;
}
.portfolio_heading p {
    transform: rotate(-90deg) translateX(-100%) translateY(-50%);
    color: #1e2022;
}
.portfolio_padding{
  padding: 0;
}
.portfolio_images:hover {
    cursor: pointer;
}
span.c_medium_grey {
    margin-left: 10px;
    color: #a5afb7;
}
.see_case a {
    color: #1e2022;
    margin: 20px 0 0 0;
    display: block;
    font-size: 14px;
}
.see_case a .fa {
    padding: 0 6px;
}
.portfolio_images {
    padding-left: 0;
}
.portfolio_heading {
    margin: 0;
    padding: 0;
}
.portfolio_list {
    margin-top: 40px;
}
/*.abc11:hover .portfolio_images img{
    transform: scale(1.03);
}
.abc11:hover .portfolio_contact .hide_text {
    transform: translateY(0);
    opacity: 1;
    transition: all 1s cubic-bezier(.19,1,.22,1);
}
.abc11:hover .portfolio_contact h1{
    color: #81909a;
    transform: scale(1);
    transition: all 1s cubic-bezier(.19,1,.22,1);
}
.abc11:hover .portfolio_contact h2{
    color: #1e2022;
}
.abc11:hover .portfolio_contact{
    transform: scale(1.03);
}










/*-----clock-----*/
.clock11{
  margin: 0;
  padding: 0;
}      
 #clock {
          position: relative;
          width: 302px;
          height: 300px;
          margin: 20px auto 0 auto;
          background: url('assets/img/clockface.png');
          list-style: none;
          background-repeat: no-repeat;
          }
        
        #sec, #min, #hour {
          position: absolute;
          width: 30px;
          height: 260px;
          top: 20px;
          left: 136px;
          }
        
        #sec {
          background: url('assets/img/sechand.png');
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 3;
            }
           
        #min {
          background: url('assets/img/minhand.png');
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 2;
            }
           
        #hour {
          background: url('assets/img/hourhand.png');
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 1;
            }
          

.clock12{
  margin: 0;
  padding: 0;
}      
 #clock1 {
          position: relative;
          width: 302px;
          height: 300px;
          margin: 20px auto 0 auto;
          background: url('assets/img/clockface.png');
          list-style: none;
          background-repeat: no-repeat;
          }
        
        #sec1, #min1, #hour1 {
          position: absolute;
          width: 30px;
          height: 260px;
          top: 20px;
          left: 136px;
          }
        
        #sec1 {
          background: url('assets/img/sechand.png');
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 3;
            }
           
        #min1 {
          background: url('assets/img/minhand.png');
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 2;
            }
           
        #hour1 {
          background: url('assets/img/hourhand.png');
          background-position: center center;
          background-repeat: no-repeat;
          z-index: 1;
            }











.portfolio_images img {
    width: 100%;
    height: auto;
    transition: all 2s cubic-bezier(.23,1,.32,1);
    transform: scale(1);
    backface-visibility: hidden;
    position: relative;
    z-index: 2;
}
.project-tile .project-assetWrapper .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    z-index: 3;
}








form {
 width: 100%;
 }
.form_class {
position: relative;
top: auto;
left: auto;
width: auto;
}

input {
    padding: 1.5em;
    border: none;
    -webkit-box-shadow: inset 0 1px 0 #eee, #fff 0 1px 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background: none;
    border-bottom: 2px solid #ccc;
    margin: 30px 0;

}
label {
    position: absolute;
    top: 30px;
    left: 6px;
    bottom: 1px;
    z-index: 1;
    height: 1em;
    font-size: 13px;
    line-height: 3.5em;
    color: #222;
    white-space: nowrap;
    cursor: text;
    transition: all .1s ease;
    font-size: 18px;

}
input:focus ~ label, input:valid ~label {
  font-size:9px;
  font-weight:bold;
  left:5px;
  top:-5px;
}
input:valid ~label {
  color:green;
}
input:focus:invalid ~label{
  color:#6e6e6e;
  left: 6px;
  font-size: 18px;
}
input:required:valid ~label::before {
  color:green;
}

.form_class input#correo{
  outline: none;
}









/*------carrer_page-----*/
.careerInput{
    margin-top: 0px !important;
}
.careerFile{
    padding: 0px 0 0 14px !important;

}
.card-link{
    color: #000 !important;
}
.careers_content p{
    margin-bottom: 25px !important;
}
.card-link span{
    position: absolute;
    right: 10px;
    top: 14px;
    color: #ccc;
}
.card-link .plusbtn{
    display: none!important;
}
.card-link.lessbtn{
    display: block!important;
}
.card-link.collapsed .plusbtn{
    display: block!important;
}

.collapse .show .card-link span .fa-plus{
    display: none;
}
.borderBox{
    border: 1px solid #ccc;
    padding-top: 16px;
}
.careers_content p{
   color: #000;
}
/*-------end carrer page---------------*/




/* Testimonials End */




/* Loader */

.lds-grid {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 250px auto 0 auto;
}

  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  
  /* Loader End */



/* Testimonials */

.testimonial-section2{
    /*height: 600px;*/
    position: relative;
    padding:0;
    overflow: hidden !important;

  
  }
  
  .testim .wrap {
      position: relative;
      width: 100%;
      max-width: 1020px;
      padding: 40px 20px;
      margin: auto;
  }
  
  .testim .arrow {
      display: block;
      position: absolute;
      color: #000;
      cursor: pointer;
      font-size: 2em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .3s ease-in-out;    
      -ms-transition: all .3s ease-in-out;    
      -moz-transition: all .3s ease-in-out;    
      -o-transition: all .3s ease-in-out;    
      transition: all .3s ease-in-out;
      padding: 5px;
      z-index: 999 !important;
  }
  
  .testim .arrow:before {
      cursor: pointer;
  }
  
  .testim .arrow:hover {
      color: #666;
  }
      
  
  .testim .arrow.left {
      left: 10px;
  }
  
  .testim .arrow.right {
      right: 10px;
  }
  
  .testim .dots {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 60px;
      left: 0;
      display: block;
      z-index: 3333;
      height: 12px;
  }
  
  .testim .dots .dot {
      list-style-type: none;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #000;
      margin: 0 10px;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;    
      -ms-transition: all .5s ease-in-out;    
      -moz-transition: all .5s ease-in-out;    
      -o-transition: all .5s ease-in-out;    
      transition: all .5s ease-in-out;
      position: relative;
  }
  
  .testim .dots .dot.active,
  .testim .dots .dot:hover {
      background: #000;
      border-color: #000;
  }
  
  .testim .dots .dot.active {
      -webkit-animation: testim-scale .5s ease-in-out forwards;   
      -moz-animation: testim-scale .5s ease-in-out forwards;   
      -ms-animation: testim-scale .5s ease-in-out forwards;   
      -o-animation: testim-scale .5s ease-in-out forwards;   
      animation: testim-scale .5s ease-in-out forwards;   
  }
      
  .testim .cont {
      position: relative;
      overflow: hidden;
  }
  
  .testim .cont > div {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 70px 0;
      opacity: 0;
      right:0;
  }
  
  .testim .cont > div.inactive {
      opacity: 1;
  }
      
  
  .testim .cont > div.active {
      position: relative;
      opacity: 1;
  }
      
  
  .testim .cont div .img img {
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 50%;
  }
  
  .testim .cont div .h4 {
      color: #666;
      font-size: 1.2em;
      margin: 15px 0;
  }
  
  .testim .cont div p {
      font-size: 1.15em;
      color: #000;
      width: 80%;
      margin: auto;
  }
  
  .testim .cont div.active .img img {
      -webkit-animation: testim-show .5s ease-in-out forwards;            
      -moz-animation: testim-show .5s ease-in-out forwards;            
      -ms-animation: testim-show .5s ease-in-out forwards;            
      -o-animation: testim-show .5s ease-in-out forwards;            
      animation: testim-show .5s ease-in-out forwards;            
  }
  
  .testim .cont div.active .h4 {
      -webkit-animation: testim-content-in .4s ease-in-out forwards;    
      -moz-animation: testim-content-in .4s ease-in-out forwards;    
      -ms-animation: testim-content-in .4s ease-in-out forwards;    
      -o-animation: testim-content-in .4s ease-in-out forwards;    
      animation: testim-content-in .4s ease-in-out forwards;    
  }
  
  .testim .cont div.active p {
      -webkit-animation: testim-content-in .5s ease-in-out forwards;    
      -moz-animation: testim-content-in .5s ease-in-out forwards;    
      -ms-animation: testim-content-in .5s ease-in-out forwards;    
      -o-animation: testim-content-in .5s ease-in-out forwards;    
      animation: testim-content-in .5s ease-in-out forwards;    
  }
  
  .testim .cont div.inactive .img img {
      -webkit-animation: testim-hide .5s ease-in-out forwards;            
      -moz-animation: testim-hide .5s ease-in-out forwards;            
      -ms-animation: testim-hide .5s ease-in-out forwards;            
      -o-animation: testim-hide .5s ease-in-out forwards;            
      animation: testim-hide .5s ease-in-out forwards;            
  }
  
  .testim .cont div.inactive .h4 {
      -webkit-animation: testim-content-out .4s ease-in-out forwards;        
      -moz-animation: testim-content-out .4s ease-in-out forwards;        
      -ms-animation: testim-content-out .4s ease-in-out forwards;        
      -o-animation: testim-content-out .4s ease-in-out forwards;        
      animation: testim-content-out .4s ease-in-out forwards;        
  }
  
  .testim .cont div.inactive p {
      -webkit-animation: testim-content-out .5s ease-in-out forwards;    
      -moz-animation: testim-content-out .5s ease-in-out forwards;    
      -ms-animation: testim-content-out .5s ease-in-out forwards;    
      -o-animation: testim-content-out .5s ease-in-out forwards;    
      animation: testim-content-out .5s ease-in-out forwards;    
  }
  
  @-webkit-keyframes testim-scale {
      0% {
          -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -webkit-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-moz-keyframes testim-scale {
      0% {
          -moz-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -moz-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-ms-keyframes testim-scale {
      0% {
          -ms-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -ms-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-o-keyframes testim-scale {
      0% {
          -o-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -o-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -o-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -o-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @keyframes testim-scale {
      0% {
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-webkit-keyframes testim-content-in {
      from {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -webkit-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-moz-keyframes testim-content-in {
      from {
          opacity: 0;
          -moz-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -moz-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-ms-keyframes testim-content-in {
      from {
          opacity: 0;
          -ms-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -ms-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-o-keyframes testim-content-in {
      from {
          opacity: 0;
          -o-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -o-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @keyframes testim-content-in {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          transform: translateY(0);        
      }
  }
  
  @-webkit-keyframes testim-content-out {
      from {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -webkit-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-moz-keyframes testim-content-out {
      from {
          opacity: 1;
          -moz-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -moz-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-ms-keyframes testim-content-out {
      from {
          opacity: 1;
          -ms-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -ms-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-o-keyframes testim-content-out {
      from {
          opacity: 1;
          -o-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @keyframes testim-content-out {
      from {
          opacity: 1;
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
      }
  }
  
  @-webkit-keyframes testim-show {
      from {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-moz-keyframes testim-show {
      from {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-ms-keyframes testim-show {
      from {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-o-keyframes testim-show {
      from {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @keyframes testim-show {
      from {
          opacity: 0;
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          transform: scale(1);       
      }
  }
  
  @-webkit-keyframes testim-hide {
      from {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-moz-keyframes testim-hide {
      from {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-ms-keyframes testim-hide {
      from {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-o-keyframes testim-hide {
      from {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @keyframes testim-hide {
      from {
          opacity: 1;
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          transform: scale(0);
      }
  }
  .menu_bg{
    width: 80%;
    position: relative;
    top: -60px;
  }
p.career-btn{
    margin: 10px;
}


@media(max-width: 1920px){
    .banner{
       position: absolute;
       left: 0;
       right: 0;
       width: 100%;
       bottom: 0;
   }
   .good_idea {
       top: 184px;
   }
   }
   @media(max-width: 1080px){
    p.gray_text {
       display: none;
   }
    .portfolio_contact p {
       margin: 50px 0 0 0 !important;
   }
   .portfolio_heading {
       padding: 0 !important;
   }
   }        
   @media(max-width: 1024px){
    .image-div1 {
       width: 33.33% !important;
   }
   
   }
   @media(max-width: 960px){
    .thoughtwin_logo{
     max-width:inherit;
    }
    .portfolio_heading p {
       display: block !important;
   }
   .portfolio_heading {
       top: 60px;
   }
   .thoughtwin_con {
       max-width: inherit !important;
   }
   .thoughtwin_logo {
       max-width: inherit !important;
   }
   .cube{
       width: 100px !important;
       height: 38px !important;
       line-height: 17px !important;
       font-size: 11px !important;
   }
   .talk-div {
       margin-top: 21px;
   }
   }
   @media(max-width: 823px){
    .thoughtwin_con {
       max-width: inherit !important;
   }
   .thoughtwin_logo {
       max-width: inherit !important;
   }
   }
   @media(max-width: 812px){
    p.font-34 {
       padding: 0;
       margin: 0;
       font-size: 20px;
   }
   }
   @media screen and (max-width: 768px) {
     .banner1 {
       background-position: top center !important;
   }   
    .talk-div {
       margin-top: 28px;
   }
     .portfolio_heading {
       padding: 50px 0 0 0 !important;
   }
   .portfolio_heading p {
       display: block !important;
   }
     ul.menu__list,
     div.menu__brand {
       float: none;
       width: 100%;
       min-height: 0;
     }
     ul.menu__list--active,
     div.menu__brand--active {
       -webkit-transform: translate3d(0, 0, 0);
               transform: translate3d(0, 0, 0);
     }
   
     .menu__list {
       height: 75vh;
       -webkit-transform: translate3d(-100%, 0, 0);
               transform: translate3d(-100%, 0, 0);
     }
   
     .menu__link {
       font-size: 24px;
     }
   
     .menu__brand {
       height: 25vh;
       -webkit-transform: translate3d(100%, 0, 0);
               transform: translate3d(100%, 0, 0);
     }
     .menu__brand .logo {
       width: 90px;
       height: 90px;
     }
       .font-34{
           font-size: 24px;
       }
       .good_idea{
           text-align: center;
       }
      
      /* .banner{
       margin-top: 70px;
      } */
      .device_img img {
       max-height: 200px;
     }
     .h3_black {
       font-size: 30px;
   }
   .mb_40 {
       font-size: 16px;
     }
     .mb_75 {
       margin-bottom: 15px;
   }
   mt_10 {
       margin-top: 0;
   }
   .pad_tb_35_100 {
       padding-top: 10px !important;
       padding-bottom: 0 !important;
       margin-top: 30px;
   }
   .font-40 {
       font-size: 24px;
    
   }
   .squar_dot .third {
       left: 0;
       width: 30%;
   }
   .squar_dot .forth{
       width: 40%;
   }
   .mob_mar_20px{
       margin-bottom: 20px;
   }
   .squar_dot .first {
       top: 40%;
   }
   .squar_dot .second {
       top: 40%;
   }
   .icon-div h3 {
       font-size: 30px;
   }
   .row.align11 {
       margin-top: 0px;
   }
   .align11 .col-4{
       margin-bottom: 20px;
   }
   }
   @media screen and (max-width: 767px){
     .banner1 {
       background-position: center center !important;
       background-size: 100% !important;
   }
     .burger1 {
       top: 40px !important;
   }
     .banner1 {
       background-position:inherit !important;
   }
     .our-team h1{
       margin: 30 0 0 0 !important;
       padding: 0 !important;
     }
     p.gray_text {
       display:block;
   }
   .mob_width_50 img {
       margin-top: 40px;
   }
     .concact_div h4 {
       padding: 0 !important;
   }    
       .overhidden{
           overflow: hidden!important;
       }
     .portfolio_heading {
       display: none;
   }
    
     .portfolio_list {
       margin:0 !important;
   }
     .portfolio_images {
       padding-left: 0;
       padding-right: 0;
   }
     .hide_text h1 {
       text-align: center !important;
   }
     .portfolio_contact {
       text-align: center;
   }
   
      .image-div1 {
       width: 50% !important;
   }
     .talk-div.late_talk {
       margin-top: -60px;
   }
   .banner-heading {
       display: none;
   }
   .text-center {
       top: -12px;
   }
   .cube {
       width: 76px !important;
       height: 35px !important;
       line-height: 15px !important;
       font-size: 9px !important;
   }
   .port_height {
       width: 30%;
   }
   .talk-div.late_talk {
       margin-top: -54px;
   }
   .menu_banner{
       background: #000 !important;
       background-size: cover !important;
   }
     
     .menu_bg{
         display: none !important;
     }
     ul.social-icon{
       margin-bottom: 6rem !important;
     }
     .menu_though a img{
         margin-top: 15px;
     }
   }
   @media screen and (max-width: 736px){
     span.cube {
       padding: 10px;
       line-height: 1 !important;
   }
   .menu_banner{
       background: #000;
     } 
     .menu_bg{
         display: none;
     }
     ul.social-icon{
       margin-bottom: 6rem;
     }
   }
   
   @media screen and (max-width: 667px){
      span.cube {
       padding: 10px !important;
   }
   .menu_banner{
       background: #000;
     } 
     .menu_bg{
         display: none;
     }
     ul.social-icon{
       margin-bottom: 6rem;
     }
   }
   @media screen and (max-width: 567px){
      .banner1 {
       height: 380px !important;
   }
   .menu_banner{
       background: #000;
     } 
     .menu_bg{
         display: none;
     }
     ul.social-icon{
       margin-bottom: 6rem;
     }
   }
   @media screen and (max-width: 467px){
       .talk-div span {
       padding: 7px !important;
       font-size: 10px !important;
       margin-top: 6px !important;
       padding-top: 10px !important;
   }
   .top_header_menu {
       padding:0 !important;
       margin: -20px 0 !important;
   }
   
   .talk-div span {
       margin-top: 3px !important;
   }
   .mob_width_50 img {
       width: 86%;
       margin-top: 50px;
   }
   .menu_banner{
       background: #000;
     } 
     .menu_bg{
         display: none;
     }
     ul.social-icon{
       margin-bottom: 6rem;
     }
   }
   @media screen and (max-width: 414px){
     .concact_div h4 {
       font-size: 15px !important;
   }
   .banner-div {
       padding: 0 !important;
   }
       .text-center {
       top: -3px;
       }
       .container.banner img {
           height: calc(100vh - 325px);
       }
       .pad_tb_35 {
          padding: 20px 0px;
          margin-top: 0px;
       }
       .mb_40 span {
           font-size: 10px;
       }
       .squar_dot .first {
           top: 30%;
       }
       .squar_dot .second {
           top: 30%;
       }
       .clients-div h3 {
           font-size: 30px;
       }
       .clients-div p {
           font-size: 14px;
       }
       .pad_tb_35_100 {
           padding: 50px 0px !important;
            margin-top: inherit;
           }
           .testim .dots{
               padding: 0%;
           }
           .deart_heading{
               display: none;
           }
           .pad_80{
               padding: 50px 0px;
           }
           .pad_80 .col-12{
               text-align: center;
           }
           .foot_logo{
               font-size: 12px;
           }
           .templ{
               display: none;
           }
           .font_small {
               font-size: 12px;
           }
           .moon_bg{
               bottom: 64%;
               width: 100%;
           }
           .mob_mar_20px {
               padding-bottom: 20px;
           }
         .align11 .col-6{
             margin-bottom: 30px;
         }
         .bor_lef_righ{
             border: 1px solid #ccc;
         }
       
         .bor_top_none {
           border-top: 1px solid #ccc;
       }
       .tansitiv1{
           width: 216px; height: 36px;
           background: url('assets/img/transitiv.png') -10px -66px; display: inline-block;;
       }
       .perfect_icon{
           width: 259px; height: 45px;
           background: url('assets/img/perfectwed.png') -10px -75px;
       }
      
       .west_cost{
           background: url('assets/img/westcost.png') -10px -82px;
       }
      
       .self_pres{
           background: url('assets/img/sefppres.png') -10px -84px;
       }
       
       .timchand{
           background: url('assets/img/timchand.png') -10px -68px;
       }
       
       .milsicon{
           background: url('assets/img/1800mils.png') -10px -70px;
       
       }
       .mob_display{
           display: inline-block;
       }
       .margi_top_30{
           font-size: 20px;
       }
       .trust_headin::before {
           left: 25%;
       }
   .talk-div.late_talk {
       margin-top: -50px;
   }
   .banner1 {
       height: 280px !important;
   }
   .menu_banner{
       background: #000 !important;
     } 
     .menu_bg{
         display: none !important;
     }
     ul.social-icon{
       margin-bottom: 6rem !important;
     }
     .burger{
         top: 22px;
     }
   }
@media all and (max-width: 500px) {
    .testim .arrow {
      font-size: 1.5em;
    }
    
    .testim .cont div p {
      line-height: 25px;
    }
  
  }
  @media(min-width: 375px) and (max-width:414px) {
    body {
      font-size: 14px;
    }
    .copy_right{
        text-align: center;
    }
    .portfolio_header h3{
        text-align: center;
        font-size: 20px;
        margin-top: 15px !important;
    }
    .portfolio_header p{
        text-align: center;
        font-size: 14px;
        margin-top: 0px !important;
    }
    .portfolio_contact h1{
        margin: 5px 0 0 0;
        font-size: 20px;
    }
    .portfolio_contact p {
        margin: 5px 0 0 0 !important;
    }
    .portfolio_contact h2{
        margin-bottom: 50px;
        font-size: 20px;
        
    }
    .footer_bottom {
        margin-top: 0px !important;
    }
    .text-center {
        top: -15px;
    }
    .talk-div.late_talk {
        margin-top: -55px;
    }
    .col-md-6.indian.clock12{
        border-top: 1px solid #cccccc;
        margin-top: 43px;
        padding-top: 20px;
    }
    .form-div button.submit-btn{
        display: initial;
    }
    section.form-div {
        border-top: 1px solid #ccc;
        margin-top: 0px;
    }
  }
  
@media screen and (max-width: 375px){
    .banner1 {
      height: 252px !important;
  }
  .banner-div {
       padding: 0 !important;
      margin: 0 !important;
  }
  .concact_div h4 {
      font-size: 14px !important;
  }
  .menu_banner{
      background: #000;
    } 
    .menu_bg{
        display: none;
    }
    ul.social-icon{
      margin-bottom: 6rem;
    }
  
    .footer_bottom a {
   
      font-size: 13px !important;
  }
  .thoughtwin_con p {
      margin-top: 0;
      margin-bottom: 0;
  }
  .text-center p{font-size: 11px;}
  .port_heading {
    top: 63% !important;
}
.col-md-6.indian.clock12{
    border-top: 1px solid #cccccc;
    margin-top: 43px;
    padding-top: 20px;
}
.taj {
    margin-top: 10px;
}
.portfolio_header h3{
    text-align: center;
    font-size: 20px;
    margin-top: 15px !important;
}
.portfolio_header p{
    text-align: center;
    font-size: 12px;
    margin-top: 0px !important;
}
.portfolio_contact h1{
    margin: 5px 0 0 0;
    font-size: 20px;
}
.portfolio_contact p {
    margin: 5px 0 0 0 !important;
}
.portfolio_contact h2{
    margin-bottom: 50px;
    font-size: 20px;
    
}
.footer_bottom {
    margin-top: 0px !important;
}
.portfolio_header{
    border-top: 1px solid #ccc;
}
.text-center {
    top: -15px;
}
.talk-div.late_talk {
    margin-top: -55px;
}

  }
  @media screen and (max-width: 360px){
    .banner1 {
      height: 235px !important;
  }
      .talk-div span {
      padding: 10px 7px !important;
      font-size: 8px !important;
      margin-top: 6px !important;
  }
  .mob_width_50 img {
      width: 86%;
  }
  .menu_banner{
      background: #000;
    } 
    .menu_bg{
        display: none;
    }
    ul.social-icon{
      margin-bottom: 6rem;
    }
    span.number {
        font-size: 60px;
        font-weight: 700;
    }  
   
}
@media screen and (max-width: 320px){
    .cube {
    width: 66px !important;
    height: 36px !important;
    line-height: 9px !important;
    font-size: 10px !important;
}
.talk-div{
    padding-right: 10px !important;
    top: -10px;
}
.talk-div span {
    padding: 6px 7px!important;
    margin-top: 0px!important;
}
.cube {
    line-height: 14px !important;
    margin-top: 4px;
}
.foot_logo a{
    display: inline-block !important;
}
p.mb_30.font_small {
    font-size: 11px;
}

}

/* 
.align11 .mobTopBorder:hover{
    transition: .5s ease;
    background-color: rgb(245, 243, 158);
}
.align11 .mobTopBorder2:hover{
    transition: .5s ease;
    background-color: rgb(247, 158, 158);
}
.align11 .mobTopBorder3:hover{
    transition: .5s ease;
    background-color: rgb(158, 247, 170);
}
.align11 .mobTopBorder4:hover{
    transition: .5s ease;
    background-color: rgb(248, 113, 113);
}
.align11 .mobTopBorder5:hover{
    transition: .5s ease;
    background-color: rgb(167, 216, 248);
}
.align11 .mobTopBorder6:hover{
    transition: .5s ease;
    background-color: rgb(135, 126, 223);
}
.align11 .mobTopBorder7:hover{
    transition: .5s ease;
    background-color: rgb(158, 247, 170);
}
.align11 .mobTopBorder8:hover{
    transition: .5s ease;
    background-color: rgb(53, 52, 52);
}  */
