@media(max-width:375px){
    .mob_pad_zero{
        padding-top: 0px;
    }
    .copy_right {
        margin-top: 20px;
    }
}
.menu_banner{
    background-image: url('../../assets/img/menu_banner.jpg');
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 20px;
  }
  .menu__list .menu__link{
    text-transform: uppercase;
  }
  .menu_banner.menu_banner {
    background-size: cover !important;
}