<div class="container-fluid top-header top_header_menu">
  <div class="top_menu1 container relative">
    <div class="top_nav">

      <div class="row">
        <div class="col-md-4 col-2"> 
            <div class="burger burger1 burger12">
              <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
              <div class="burger__patty"></div>
            </div>

            <div class="container-fluid">
                <nav class="menu menu_banner">
                    <div class="menu_though twinlogo text-center">
                      <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                    </div>
                    <ul class="menu__list">
                        <li class="menu__item"><a routerLink= '' class="menu__link">Home</a></li>
                        <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                        <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                        <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                        <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                        <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                      </ul>
                    <div class="menu__brand">
                      <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                      <ul class="social-icon">
                        <li class="menu__item">
                        <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                      </li>
                      <li class="menu__item">
                        <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                          <i class="fa fa-facebook" aria-hidden="true"></i></a>
                      </li>
                      </ul>
                    </div>
                  </nav>

            </div>

         </div>
        <div class="col-md-4 col-7 text-center mob_width_50"> <img src="assets/img/new_logo.png" class="img-responsive " alt="Thoughtwin"/> </div>
        <div class="col-md-4 col-3 talk-div"><a routerLink="../contact">  <span>lets talk</span> </a> </div>
      </div>
    </div>
  </div>
  </div>

  <section class="container-fluid banner1">
    <div class=" banner_img"> <!-- <img src="assets/img/106A2010-2.jpg" width="100%" class="img-responsive" alt=""> --> </div>
        <div class="banner-heading">
            <h1></h1>
            <p>We are a community of friendly, open-minded,<br> collaborative and professionally growing people.</p>
            <a class="banner-btn" href="#"> Join the team </a>
        </div>  
  </section>



<section class="grid-list">
  <div class="grid-list11">
    <div class="container-fluid">
      <div class="our-team">
        <h1>our team</h1>
      </div>  
      <div class="row">
        <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/mayur_sir.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Co-Founder</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/6.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">   Managing Director</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/pankajsir.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">  Chief Executive Officer   </div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/aasutoshsir.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Chief Marketing Officer</div>
             </div>
          </div>

       </div>
        <div class="row">
        <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/16.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Bussiness Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/3.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Hr Manager</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/2.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Full Stack Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/15.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Web/App Designer</div>
             </div>
          </div>

         

          

       </div>
        <div class="row">
          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/12.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description"> Frontend Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/4.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Full Stack Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/5.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Web/App Designer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/8.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Full Stack Developer</div>
             </div>
          </div>

       </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/10.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Full Stack Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/11.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Graphic Designer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/13.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Backend Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/14.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Backend Developer</div>
             </div>
          </div>

       </div>
         <div class="row">
        <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/ashish.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description">Full Stack Engineer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="assets/img/vinod.jpeg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
               <div class="description"> Backend Developer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="../assets/img/deepaksir.jpg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Full Stack Engineer</div>
             </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6 image-div">
            <img src="../assets/img/lavisha1.jpeg">
            <div class="mask"></div>
            <div class="overlay">
               <div class="text"></div> 
              <div class="description">Business Developer</div>
             </div>
          </div>

       </div>
    </div>
  </div>  
</section>

<section class="footer-div">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 social11">
            <a routerLink="../careers" class="social-icon">
                <img src="assets/img/icon11.jpg">
                <h2>Careers</h2>
               
                <div class="more-btn">
                    <p class="career-btn"> Careers <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></p>
                </div>  
            </a>
          </div>
          <div class="col-md-6 social11 mob_pad_zero">
            <a routerLink="../contact" class="social-icon">
                <img src="assets/img/icon11.jpg">
                <h2>Contact Us</h2>
                
                <div class="more-btn">
                    <p class="career-btn"> Contact us <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></p>
                </div>  
            </a>
          </div>  
        </div>  
      </div>  
  </section>




<section class="testimonial-section2 container pad_tb_35">
 <div class="row text-center">
           <div class="col-12">
              <div class="h2"> <img src="assets/img/test_icon.jpg" alt="testimonials"/>  </div>
           </div>
        </div>
       <div id="testim" class="testim">
            <div class="wrap">

                <span id="right-arrow" class="arrow right"><img src="assets/img/right-arrow.png"></span>
                  <span id="left-arrow" class="arrow left"><img src="assets/img/left-arrow.png"></span>
                <ul id="testim-dots" class="dots">
                 
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ul>
                <div id="testim-content" class="cont">                    
              <div>
                          <div class="img"><img src="assets/img/testmonial1.jpg" alt=""></div>
                          <div class="h4">David</div>
                          <p>They have special talent for transforming complex information into useful things, by focusing on exactly what your target audience is looking for.</p>                    
                      </div>
                      <div>
                          <div class="img"><img src="assets/img/testmonial2.jpg" alt=""></div>
                          <div class="h4">Alumni</div>
                          <p>If you are clear of what you want – then they can deliver killer copy in one attempt. I recommend their development services.</p>
                      </div>

                </div>
                 </div>
            </div>

    </section>

<section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
            <p class="linear">CONTACT </p>
            <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top"> hr@thoughtwin.com </a> </p>
            <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
            <a href="tel:+91 9827718104">+91 9827718104 </a>
         </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>

<!-- <script src="css/script.js"></script> -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>