
.menu_bg {
    max-width: 400px;
}

.per_logo_img{
    width: 50%;
}

/* testimonials */

.testimonial-section2{
    /*height: 600px;*/
    position: relative;
    padding:0;
  
  }
  
  .testim .wrap {
      position: relative;
      width: 100%;
      max-width: 1020px;
      padding: 40px 20px;
      margin: auto;
  }
  
  .testim .arrow {
      display: block;
      position: absolute;
      color: #000;
      cursor: pointer;
      font-size: 2em;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .3s ease-in-out;    
      -ms-transition: all .3s ease-in-out;    
      -moz-transition: all .3s ease-in-out;    
      -o-transition: all .3s ease-in-out;    
      transition: all .3s ease-in-out;
      padding: 5px;
      z-index: 999;
  }
  
  .testim .arrow:before {
      cursor: pointer;
  }
  
  .testim .arrow:hover {
      color: #666;
  }
      
  
  .testim .arrow.left {
      left: 10px;
  }
  
  .testim .arrow.right {
      right: 10px;
  }
  
  .testim .dots {
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 60px;
      left: 0;
      display: block;
      z-index: 3333;
      height: 12px;
  }
  
  .testim .dots .dot {
      list-style-type: none;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid #000;
      margin: 0 10px;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;    
      -ms-transition: all .5s ease-in-out;    
      -moz-transition: all .5s ease-in-out;    
      -o-transition: all .5s ease-in-out;    
      transition: all .5s ease-in-out;
      position: relative;
  }
  
  .testim .dots .dot.active,
  .testim .dots .dot:hover {
      background: #000;
      border-color: #000;
  }
  
  .testim .dots .dot.active {
      -webkit-animation: testim-scale .5s ease-in-out forwards;   
      -moz-animation: testim-scale .5s ease-in-out forwards;   
      -ms-animation: testim-scale .5s ease-in-out forwards;   
      -o-animation: testim-scale .5s ease-in-out forwards;   
      animation: testim-scale .5s ease-in-out forwards;   
  }
      
  .testim .cont {
      position: relative;
      overflow: hidden;
  }
  
  .testim .cont > div {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0 70px 0;
      opacity: 0;
      right:0;
  }
  
  .testim .cont > div.inactive {
      opacity: 1;
  }
      
  
  .testim .cont > div.active {
      position: relative;
      opacity: 1;
  }
      
  
  .testim .cont div .img img {
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      border-radius: 50%;
  }
  
  .testim .cont div .h4 {
      color: #666;
      font-size: 1.2em;
      margin: 15px 0;
  }
  
  .testim .cont div p {
      font-size: 1.15em;
      color: #000;
      width: 80%;
      margin: auto;
  }
  
  .testim .cont div.active .img img {
      -webkit-animation: testim-show .5s ease-in-out forwards;            
      -moz-animation: testim-show .5s ease-in-out forwards;            
      -ms-animation: testim-show .5s ease-in-out forwards;            
      -o-animation: testim-show .5s ease-in-out forwards;            
      animation: testim-show .5s ease-in-out forwards;            
  }
  
  .testim .cont div.active .h4 {
      -webkit-animation: testim-content-in .4s ease-in-out forwards;    
      -moz-animation: testim-content-in .4s ease-in-out forwards;    
      -ms-animation: testim-content-in .4s ease-in-out forwards;    
      -o-animation: testim-content-in .4s ease-in-out forwards;    
      animation: testim-content-in .4s ease-in-out forwards;    
  }
  
  .testim .cont div.active p {
      -webkit-animation: testim-content-in .5s ease-in-out forwards;    
      -moz-animation: testim-content-in .5s ease-in-out forwards;    
      -ms-animation: testim-content-in .5s ease-in-out forwards;    
      -o-animation: testim-content-in .5s ease-in-out forwards;    
      animation: testim-content-in .5s ease-in-out forwards;    
  }
  
  .testim .cont div.inactive .img img {
      -webkit-animation: testim-hide .5s ease-in-out forwards;            
      -moz-animation: testim-hide .5s ease-in-out forwards;            
      -ms-animation: testim-hide .5s ease-in-out forwards;            
      -o-animation: testim-hide .5s ease-in-out forwards;            
      animation: testim-hide .5s ease-in-out forwards;            
  }
  
  .testim .cont div.inactive .h4 {
      -webkit-animation: testim-content-out .4s ease-in-out forwards;        
      -moz-animation: testim-content-out .4s ease-in-out forwards;        
      -ms-animation: testim-content-out .4s ease-in-out forwards;        
      -o-animation: testim-content-out .4s ease-in-out forwards;        
      animation: testim-content-out .4s ease-in-out forwards;        
  }
  
  .testim .cont div.inactive p {
      -webkit-animation: testim-content-out .5s ease-in-out forwards;    
      -moz-animation: testim-content-out .5s ease-in-out forwards;    
      -ms-animation: testim-content-out .5s ease-in-out forwards;    
      -o-animation: testim-content-out .5s ease-in-out forwards;    
      animation: testim-content-out .5s ease-in-out forwards;    
  }
  
  @-webkit-keyframes testim-scale {
      0% {
          -webkit-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -webkit-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-moz-keyframes testim-scale {
      0% {
          -moz-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -moz-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-ms-keyframes testim-scale {
      0% {
          -ms-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -ms-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-o-keyframes testim-scale {
      0% {
          -o-box-shadow: 0px 0px 0px 0px #000;
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          -o-box-shadow: 0px 0px 10px 5px #000;        
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          -o-box-shadow: 0px 0px 10px 5px #ea830e;        
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          -o-box-shadow: 0px 0px 0px 0px #ea830e;        
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @keyframes testim-scale {
      0% {
          box-shadow: 0px 0px 0px 0px #000;
      }
  
      35% {
          box-shadow: 0px 0px 10px 5px #000;        
      }
  
      70% {
          box-shadow: 0px 0px 10px 5px #ea830e;        
      }
  
      100% {
          box-shadow: 0px 0px 0px 0px #ea830e;        
      }
  }
  
  @-webkit-keyframes testim-content-in {
      from {
          opacity: 0;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -webkit-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-moz-keyframes testim-content-in {
      from {
          opacity: 0;
          -moz-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -moz-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-ms-keyframes testim-content-in {
      from {
          opacity: 0;
          -ms-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -ms-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @-o-keyframes testim-content-in {
      from {
          opacity: 0;
          -o-transform: translateY(100%);
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          -o-transform: translateY(0);        
          transform: translateY(0);        
      }
  }
  
  @keyframes testim-content-in {
      from {
          opacity: 0;
          transform: translateY(100%);
      }
      
      to {
          opacity: 1;
          transform: translateY(0);        
      }
  }
  
  @-webkit-keyframes testim-content-out {
      from {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -webkit-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-moz-keyframes testim-content-out {
      from {
          opacity: 1;
          -moz-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -moz-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-ms-keyframes testim-content-out {
      from {
          opacity: 1;
          -ms-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          -ms-transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @-o-keyframes testim-content-out {
      from {
          opacity: 1;
          -o-transform: translateY(0);
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
          transform: translateY(-100%);        
      }
  }
  
  @keyframes testim-content-out {
      from {
          opacity: 1;
          transform: translateY(0);
      }
      
      to {
          opacity: 0;
          transform: translateY(-100%);        
      }
  }
  
  @-webkit-keyframes testim-show {
      from {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-moz-keyframes testim-show {
      from {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-ms-keyframes testim-show {
      from {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @-o-keyframes testim-show {
      from {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
  }
  
  @keyframes testim-show {
      from {
          opacity: 0;
          transform: scale(0);
      }
      
      to {
          opacity: 1;
          transform: scale(1);       
      }
  }
  
  @-webkit-keyframes testim-hide {
      from {
          opacity: 1;
          -webkit-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-moz-keyframes testim-hide {
      from {
          opacity: 1;
          -moz-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -moz-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-ms-keyframes testim-hide {
      from {
          opacity: 1;
          -ms-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -ms-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @-o-keyframes testim-hide {
      from {
          opacity: 1;
          -o-transform: scale(1);       
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          -o-transform: scale(0);
          transform: scale(0);
      }
  }
  
  @keyframes testim-hide {
      from {
          opacity: 1;
          transform: scale(1);       
      }
      
      to {
          opacity: 0;
          transform: scale(0);
      }
  }


  .menu_banner{
    background-image: url('../../assets/img/menu_banner.jpg');
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 20px;
  }
  .menu__list .menu__link{
    text-transform: uppercase;
  }

  
@media(max-width:1024px){
    p.font-34.great_code {
        font-size: 2rem;
    }
    p.mb_30.font_small {
        font-size: 1rem;
    }
    .good_idea {
        top: 270px;
    }
    .pad_80 {
        padding: 30px 15px;
    }
    .client_section {
        margin-top: 20px;
    }
  }
 @media(max-width:768px){
      .banner{
        position: absolute;
        top: 60px;
      }
      .banner_img img {
        height: 72vh;
    }
    .good_idea {
        position: absolute;
        left: 0;
        right: 0;
        top: 58% !important;
  }
  .font_small::after{
    left: 86px;
  }
  .talk-div span {
    font-size: 12px;
}
.pad_tb_35_100{
    margin: 30px 0px;
}
p.bold {
    font-size: 12px;
}
p.mt_10 {
    font-size: 10px;
}
p.major_text {
    font-size: 18px;
}
.align11 .clients-img{
    max-width: 50%;
    flex-basis: 50%;
}
.bor_lef_righ{
    border-right: 1px solid #ccc;
    border-bottom: 0px;
}
.mobTopBorder {
    border-bottom: 0px;
}
.border_top_none{
    border-bottom: 1px solid #ccc;
}
.border768left{
    border-left: 0px;
}
.border768right{
    border-right: 1px solid #ccc;
}
.client_section {
    margin-top: 50px;
}
.effect .bgdiv{
    height: 200px;
}
.pad_80 {
    padding: 30px 15px;
}
.row.copy_right {
    text-align: center;
}
.font_small::after{
    display: none;
}
.p.font-34{
    font-size: 2.5rem;
}
p.mb_30.font_small {
    font-size: 1.5rem;
}
.per_logo_img{
    width: 70% !important;
}
} 
  @media(max-width:736px){
    .per_logo_img{
        width: 70% !important;
    }
      .device_img{
          display: none;
      }
      .font_small::after{
          display: none;
      }
      .mb_30 {
        margin-bottom: 30px;
    }
    .maxWidth736{
        max-width: 50% ;
        flex-basis: 50% ;
        margin-bottom: 20px;
    }
    .mob_width_50{
        padding-right: 0px;
    }
    .talk-div {
        margin-top: 30px;
    }
    p.major_text{
        font-size: 13px;
    }
    .container {
        max-width: 100%;
    }
    .mob_width_50 img {
        width: 60%;
    }
    .banner{
        top: 50px;
    }
    .good_idea {
        position: absolute;
        left: 0;
        right: 0;
        top: 210px;
    }
    p.mt_10 {
        font-size: 12px;
    }
    .align11{
        padding: 0 15px;
    }
    .align11 .clients-img{
        max-width: 50%;
        flex-basis: 50%;
        border: 1px solid #ccc;
        border-bottom: 0;
    }
    .align11 .mobTopBorder , .align11 .border736none{
        border-right: 0px;
    }
    .align11 .border736bot{
        border-bottom: 1px solid #ccc;
    }
    .client_section {
        margin-top: 50px;
    }
    .width736 .effect , .black_bg .col-md-6{
        max-width: 50%;
        flex-basis: 50%;
    }
    .effect .bgdiv {
        height: 170px;
    }
    .per_logo img{
        width: 50%;
    }
    .pad_80 {
        padding: 15px;
    }
    
  }
  @media(min-width:667px){
    .per_logo_img{
        width: 70% !important;
    }
    .good_idea {
        top: 177px;
    }
  }
  @media(max-width: 500px) {
    .testim .arrow {
      font-size: 1.5em;
    }

    
    .testim .cont div p {
      line-height: 25px;
    }
  
  }
  @media(max-width:414px) {
    .per_logo_img{
        width: 70% !important;
    }
    body {
      font-size: 14px;
    }
    .moon_bg{
        display: none;
    }
    .banner{
        padding: 0;
        top: 50px;
    }
    .font_small::after{
        display: none;
    }
    .good_idea{
       left: 0px;
       top: 340px !important;
    }
    .mb_30 {
        margin-bottom: 30px;
    }
    .talk-div{
        padding: 0;
        padding-right: 5px;
        top: -5px;
    }
   .mob_width_50{
       padding-right: 0px;
   }
   .pad_tb_35_100{
     padding: 30px 15px !important;
   }
  .pad_tb_35_100 p.major_text{
      font-size: 16px;
  }
  .align11 .clients-img{
      border-top: none !important;
  }
  .align11 .mobTopBorder{
    border-top: 1px solid #ccc !important;
  }
  .pad_tb_35_100 .border_top_none{
      border-top: 1px solid #ccc;
  }
  .pad_tb_35_100 .border_left{
      border:1px solid #ccc;
  }
  .client_section {
    margin-top: 0px;
}
.trust_headin h3 {
    font-size: 30px;
}
 .client_section .bgdiv{
     height: 130px;
 }
 .per_logo{
   top: 40%;
 }
 .per_logo img{
     width: 50%;
 }
 .testim .cont div p{
   font-size: 1rem;
 }
 .device_img {
    margin-top: 30px;
}
.pad_80 {
    padding: 30px 0px;
}
p.font-34.great_code{
    font-size: 1.5rem;
}
p.mb_30.font_small {
    font-size: 12px;
}
.font_size_12px {
    font-size: 11px;
}
.align11 .clients-img{
    max-width: 100%;
    flex-basis: 100%;
    border-bottom: 1px solid #ccc;
}
.talk-div span {
 
    padding: 5px 10px !important;
    font-size: 10px !important;
    margin-top: 0px !important;
    margin-right: 8px;
}
.device_img {
    display: block;
}
.align11{
    padding: 0 0;
}
.align11 .mobTopBorder , .align11 .border414none{
    border-right: 1px solid #ccc;
}
.maxWidth736 {
    max-width:100%;
    flex-basis: 100%;
}
.black_bg .col-md-6{
    max-width: 100%;
    flex-basis: 100%;
    text-align: center;
}
  
  }
  @media(max-width: 375px){
    .per_logo_img{
        width: 70% !important;
    }
    .good_idea {
        left: 0px;
        top: 285px !important;
    }
    p.font-34.great_code[_ngcontent-c1] {
        font-size: 1rem;
    }
    p.mb_30.font_small[_ngcontent-c1] {
        font-size: 12px;
    }
  .menu_banner{
    background: #000;
  } 
  .menu_bg{
      display: none;
  }
  ul.social-icon{
    margin-bottom: 6rem;
  }
}
@media(max-width: 320px){
    .per_logo_img{
        width: 70% !important;
    }
    p.mb_30.font_small {
        font-size: 11px !important;
    }
}
  
  
  
  