<header>
    <div class="top_menu container relative">
      <div class="top_nav">
  
        <div class="row">
          <div class="col-md-4 col-2"> 
              <div class="burger" (click)="burger()">
                <!-- <span><i class="fa fa-bars burger__patty" aria-hidden="true"></i></span> -->
                <div class="burger__patty"></div>
                <div class="burger__patty"></div>
                <div class="burger__patty"></div>
              </div>
  
              <div class="container-fluid" > 
  
                <nav class="menu menu_banner">
                  <div class="menu_though twinlogo text-center">
                    <a routerLink=""><img src="assets/img/new_logo.png"/></a>
                  </div>
                  <ul class="menu__list">
                     
                      <li class="menu__item"><a routerLink="../about" class="menu__link">About</a></li>
                      <li class="menu__item"><a routerLink="../portfolio" class="menu__link">Portfolio</a></li>
                      <li class="menu__item"><a routerLink="../ourteam" class="menu__link"> <!-- Life@thoughtWin -->Our Team</a></li>
                      <li class="menu__item"><a routerLink="../careers" class="menu__link">Careers</a></li>
                      <li class="menu__item"><a routerLink="../contact" class="menu__link">Contact</a></li>
                    </ul>
                  <div class="menu__brand">
                    <a href=""><img src="assets/img/dots_img.png" class="menu_bg" alt="Thoughtwin"></a>
                    <ul class="social-icon">
                      <li class="menu__item">
                      <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" class="menu__link menu__link--social"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </li>
                    <li class="menu__item">
                      <a href="https://www.facebook.com/thoughtwin/" target="_blank" class="menu__link menu__link--social">
                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    </ul>
                  </div>
                </nav>
  
              </div>
  
           </div>
          <div class="col-md-4 col-7 text-center mob_width_50"> <img src="assets/img/new_logo.png" class="img-responsive " alt="Thoughtwin"/> </div>
          <div class="col-md-4 col-3 talk-div"><a routerLink="contact">  <span>lets talk</span> </a> </div>
        </div>
      </div>
    </div>
    <section class="container banner">
      <div class=" banner_img"> <img src="assets/img/Banner.gif" width="100%" class="img-responsive" alt=""> </div>
      <div class= "good_idea">
        <p class="font-34 great_code">GREAT PRODUCT GREAT CODE.</p>
        <p class="mb_30 font_small">We design and develop awesome apps for Web and Mobile </p>
        <a routerLink="portfolio" class="site_btn"> OUR WORK </a>
        <div class="device_img"> <img src="assets/img/Devices.png" width="100%" class="img-responsive" alt=""> </div>
      </div>
    </section>
    <img src="assets/img/menu_icon.png" class="menu_icon" alt="">
    <img src="assets/img/moon_icon.png" class="moon_bg" alt="">
  </header>
  <section class="container pad_tb_35_100 overhidden">
    <h3 class="h3_black"> Discover our services </h3>
    <p class="text-center mb_40 mb_75"> These are the services we provide and make us stand apart. </p>
    <div class="row pb_40 ds ">
      <div class="col-md-3 maxWidth736 text-center"> <img src="assets/img/01.gif"/>
        <p class="bold"> UI/UX Design </p>
        <p class="mt_10"> Our experts in UI/UX passionately create consistent user experience and work close to our engineers. </p> 
      </div>
      <div class="col-md-3 maxWidth736 text-center"> <img src="assets/img/02.gif"/>
        <p class="bold"> Web Development </p>
          <p class="mt_10"> We build elegant and functional solutions using Ruby on Rails, Python, Angular and more.  </p> 
      </div>
      <div class="col-md-3 maxWidth736 text-center"> <img src="assets/img/03.gif"/>
        <p class="bold"> Mobile App Development </p>
          <p class="mt_10"> We deliver apps essentials at your finger tips. Functional, flawless and easy to use.  </p> 
      </div>
      <div class="col-md-3 maxWidth736 text-center"> <img src="assets/img/04.gif"/>
        <p class="bold"> Digital Marketing </p>
          <p class="mt_10"> Cross platform, custom, out of the box & apps with prosperous designs and secure backend  </p> 
      </div>
    </div>
  </section>
  
  <section class="container-fluid pad_tb_35 black_bg">
    <div class="row ">
      <div class="col-md-12 text-center mob_mar_20px">
        <div class="relative mb-0 text-center font-40"><span>Great Products Great Code</span></div>
        <p class="text-center mb_40 mb_75"><span>We design and develop awesome apps for Web and Mobile</span></p>
         <a routerLink="portfolio" class="product_img"> <img src="assets/img/port_bg.png" width="70%" class="img-responsive" alt=""> </a>
          <p class="margi_top_30"> Some work we're really proud of </p>
          <p><a routerLink="portfolio"> <img src="assets/img/right_mark.png" alt=""></a></p> 
      </div>
    </div>
      <div class="squar_dot">
         <img src="assets/img/arrow_img.png" class="img-responsive first" alt="">
         <img src="assets/img/arrow_img.png" class="img-responsive second" alt="">
         <img src="assets/img/pink_small.png" class="img-responsive third" alt="">
         <img src="assets/img/pink.png" class="img-responsive forth" alt="">
      </div>
  </section>
  
  <section class="icon-div pad_tb_35_100">
    <div class="container">
        <div class="row"> 
          <div class="col-md-12 icon-img">
            <h3>Technical stack</h3>
            <p class="major_text">We have teamed up with major technology platforms to keep giving our customers</p>
            <p class="major_text">most upgraded world-class software performance. </p>
           </div>
         </div> 
         <div class="row align11">
           
           <div class="col-md-3 col-12 clients-img mobTopBorder ">
             <a href="javascript:void(0)" class="python"> </a>
           </div>
           <div class="col-md-3 col-12 clients-img bor_lef_righ mobTopBorder2">
              <a href="javascript:void(0)" class="ruby"> </a>
           </div>
           <div class="col-md-3 col-12 clients-img border_left mobTopBorder3 border736none border768right">
              <a href="javascript:void(0)" class="node_js">
             </a>
           </div>
           <div class="col-md-3 col-12 clients-img border768left mobTopBorder4">
            <a href="javascript:void(0)" class="angulr_js"> </a>
           </div>
           
   
   
           <div class="col-md-3 col-12 mobTopBorder5 clients-img border_top_none border736none border414none">
            <a href="javascript:void(0)" class="react"> </a>
           </div>
           <div class="col-md-3 col-12 clients-img bor_lef_righ border_top_none mobTopBorder6">
            <a href="javascript:void(0)" class="php_icon"> </a>
           </div>
           <div class="col-md-3 col-12 mobTopBorder7 clients-img border_left border_top_none border736none border736bot border768right">
            <a href="javascript:void(0)" class="android_icon"> </a>
           </div>
           <div class="col-md-3 col-12 mobTopBorder8  clients-img border_top_none border736bot border768left">
            <a href="javascript:void(0)" class="ios_icon" > </a>
           </div>
        
          
           
         </div>
     </div> 
        
  </section>
  
  <section class="container-fluid client_section">
      <div class="trust_headin">
          <h3> <strong>Clients who trust us</strong> </h3>
          
  </div>
    <div class="row width736">
      <div class="col-md-6 effect">
        <div class="bgdiv bg_color_pink">
            <img src="assets/img/perfect_bg.jpg" width="100%"  alt="" class="img-responsive">
        </div>
        <div class="per_logo">
            <img src="assets/img/perfect.png" class="per_logo_img"  alt="">
          </div>
      </div>
      <div class="col-md-6 effect">
          <div class="bgdiv bg_color_blue">
              <img src="assets/img/transitiv_bg.jpg" width="100%"  alt="" class="img-responsive">
          </div>
          <div class="per_logo">
              <img src="assets/img/transitiv_icon.png" alt="">
            </div>
        </div>
    
          <div class="col-md-6 effect">
              <div class="bgdiv bg_color_green">
                  <img src="assets/img/selfpress_bg.jpg" width="100%"  alt="" class="img-responsive">
              </div>
              <div class="per_logo">
                  <img src="assets/img/selfres_icon.png" alt="">
                </div>
            </div>
            <div class="col-md-6 effect">
                <div class="bgdiv bg_blue_light">
                    <img src="assets/img/Home-Page_05.jpg" width="100%"  alt="" class="img-responsive">
                </div>
                <div class="per_logo">
                    <img src="assets/img/tim_icon.png" alt="">
                  </div>
              </div>
              <div class="col-md-6 effect">
                  <div class="bgdiv bg_black">
                      <img src="assets/img/Home-Page_06.jpg" width="100%"  alt="" class="img-responsive">
                  </div>
                  <div class="per_logo">
                      <img src="assets/img/west_icon.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 effect">
                    <div class="bgdiv bg_orange">
                        <img src="assets/img/bg_1800miles.jpg" width="100%"  alt="" class="img-responsive">
                    </div>
                    <div class="per_logo">
                        <img src="assets/img/1800_icon.png" alt="">
                      </div>
                  </div>
     
    </div>
  </section>
 <!-- Testomonial -->
 <section class="testimonial-section2 container pad_tb_35">
  <div class="row text-center">
            <div class="col-12">
               <div class="h2"> <img src="assets/img/test_icon.jpg" alt="testimonials"/>  </div>
            </div>
         </div>
        <div id="testim" class="testim">
             <div class="wrap">
 
                 <span id="right-arrow" class="arrow right"><img src="assets/img/right-arrow.png"></span>
                 <span id="left-arrow" class="arrow left"><img src="assets/img/left-arrow.png"></span>
                 <ul id="testim-dots" class="dots">
                  
                     <li class="dot"></li>
                     <li class="dot"></li>
                 </ul>
                 <div id="testim-content" class="cont">                    
                     <div>
                         <div class="img"><img src="assets/img/testmonial1.jpg" alt=""></div>
                         <div class="h4">David</div>
                         <p>They have special talent for transforming complex information into useful things, by focusing on exactly what your target audience is looking for.</p>                    
                     </div>
                     <div>
                         <div class="img"><img src="assets/img/testmonial2.jpg" alt=""></div>
                         <div class="h4">Alumni</div>
                         <p>If you are clear of what you want – then they can deliver killer copy in one attempt. I recommend their development services.</p>
                     </div>
 
                 </div>
                  </div>
             </div>
 
     </section>

  
  <section class="black_bg pad_80"> 
    <div class="container">
      <div class="row"> 
              <div class="col-md-6 col-6 deart_heading "> <img src="assets/img/Heart.gif" alt="heart"/> 
                 <div class="posi_absolute">
                      <h2> Drop us <br> a line. </h2>
                      <p>Prepare for a <br> quick response:) </p>
                 </div>
                 
              
              </div>
              <div class="col-md-6 col-12">
                     <h6 class="text-center  mob_display">SEND FEEDBACK</h6>
                        <form class="dropUs">
                              <div class="form-group">
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First Name" required>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Last Name" required>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Company" required>
                              </div>
                              <div class="form-group">
                                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" required>
                                  </div>                                     
                            
                              <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                               <button class=" btn_submit"> SUBMIT </button> 
                           <!-- <p> <a href="" class="btn_submit"> SUBMIT</a> </p>    -->
                            </form>    
              </div>
          
          
          </div>
      </div>
  </section>
  <section class="footer_bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-3 thoughtwin_logo">
          <p> <img src="assets/img/footer_logo.png" alt="">  </p>  
            <p class="foot_logo">
             11 Sachidanand Nagar <br> Annapurna Road, <br> Indore (MP) - 452001
           </p>
        </div>
        <div class="col-md-3 thoughtwin_con">
            <p class="linear">CONTACT </p>
            <p class="foot_logo"><a href="mailto:hr?Subject=Hello%20again" target="_top"> hr@thoughtwin.com </a> </p>
            <a href="tel:+91 9300699777">+91 9300699777 </a> <br>
            <a href="tel:+91 9827718104">+91 9827718104 </a>
         </div>
        <div class="col-md-3 thoughtwin_social">
            <p class="linear">SOCIAL </p>
            <p class="foot_logo"> <a href="https://www.facebook.com/thoughtwin/" target="_blank" > <i class="fa fa-facebook face_margin" aria-hidden="true"></i> Facebook </a> <br>
             <a href="https://in.linkedin.com/company/thoughtwin" target="_blank" ><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a> <br>
             <a href="https://www.instagram.com/thoughtwin_solutions/" target="_blank" > <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
            </p>
        </div>
      </div>
    
      <div class="row copy_right">
        <div class="col-md-6">
          <p class="font_size_12px"> Copyright @ 2018, All Rights Reserved. Thoughtwin </p>
        </div>
        <div class="col-md-3">
          <p class="whit_text font_size_12px"><i class="fa fa-heart" aria-hidden="true"></i> INDORE | <span class="cleanest"><i>Cleanest city of india </i></span>  </p>
            
          </div>
      </div>
      </div>
      <div class="templ">
        <img src="assets/img/temple.png" alt="">
      </div>
    </section>
  
  <script src="css/script.js"></script>
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
  });


  </script>